<template>
    <div class="well">
        <div class="tab-pane active" id="a">
        <div class="row">
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Earned:</th>
                        <th class="thead-currency green" width="70%">{{ user.money_hpcs_earn + user.money_hpcs_linkout_earn | currency}}</th>
                    </thead>
                </table>
            </div>
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Redeemed:</th>
                        <th class="thead-currency green" width="70%">{{ user.money_hpcs_paid + user.money_hpcs_linkout_paid | currency}}</th>
                    </thead>
                </table>
            </div>
        </div>
        <hr>

        <div class="table-wrapper">
            <table class="table table-earnings">
                <thead>
                    <tr>
                        <th width="55%">TITLE</th>
                        <th width="15%">DATE</th>
                        <th width="15%">STATUS</th>
                        <th width="15%">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="hpcs in user.hpcs_taken">
                        <td :class="italic(hpcs.is_Offer,hpcs.status)">{{ hpcs.title }}</td>
                        <td :class="italic(hpcs.is_Offer,hpcs.status)">{{ hpcs.taken }}</td>
                        <td>
                            <div class="tooltip-details" >
                                <span rel="tooltip" title="<p>{{ hpcs.status | description }}</p>" data-html="true">
                                    <img v-if="hpcs.is_Offer==0" :src="hpcs.status | status " alt="" class="img-responsive">
                                    <img v-else :src="hpcs.status | statusDos " alt="" class="img-responsive">
                                </span>
                            </div>
                        </td>
                        <td :class="italic(hpcs.is_Offer,hpcs.status)"> {{ hpcs.cash | currency }}</td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div class="spacer-mini"></div>
        <div class="row">
            <div class="col-md-12 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/earned.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Earned</strong>
                                <p>You successfully Earned this amount.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/redeemed.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Redeemed</strong>
                                <p>We have successfully sent you the payment.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-md-6 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/redeemed.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Redeemed</strong>
                                <p>We have successfully sent you the payment.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        </div>
<!--         <div class="spacer"></div>
 -->        <div class="text-center" v-if="user && user.registered">
        </div>

        <div class="text-center" v-else>
            <button type="button" class="btn btn-primary submit" @click.prevent="redeem">REDEEM</button>
        </div>
    </div>
</template>

<style>
    .italic {
        font-style: italic;
    }
</style>

<script>
    export default{
        props: ['user'],


        methods: {

            redeem () {
                if (this.user && this.user.registered) {
                    console.log('call ajax to server for redeem');
                    return;
                }
                this.$dispatch('closeModal');
                this.$dispatch('openModal', 'register');
            },

            italic(flag,status)
            {
                if(status==1)
                {
                    if(flag==1)
                    {
                        return 'italic';
                    }
                }

            }
        },
        filters : {
            status (val) {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/submitted.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
                if(val == 3) {
                    return '/images/approved.jpg';
                }
                if(val == 4) {
                    return '/images/earned.jpg';
                }
                if(val == 5) {
                    return '/images/redeemed.jpg';
                }
            },
            statusDos (val) {
                if(val == 1) {
                    return '/images/inprogress.jpg';
                }
                if(val == 3) {
                    return '/images/earned.jpg';
                }
                if(val == 5) {
                    return '/images/redeemed.jpg';
                }
            },
            description (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Submitted';
                }
                if(val == 2) {
                    return 'Disapproved'
                }
                if(val == 3) {
                    return 'Approved'
                }
                if(val == 4) {
                    return 'Earned'
                }
                if(val == 5) {
                    return 'Redeemed'
                }
            },
            date (val) {
                return  moment(val).format('MM/DD/YYYY');
            }


        }
    }
</script>