<template>
    <h1 class="move-down text-center title">Thank you for completing the challenge</h1>
    <div class="spacer"></div>
    <div class="row">
        <p class="text-center move-up-large">If you have time please check our local surveys for more earnings</p>
        <div class="option-set">
            <local-button ></local-button>
        </div>
    </div>
</template>
<script type="text/babel">
    import LocalButton from './LocalButton.vue';
    export default{
        components: {LocalButton}
    }
</script>