<template>
	<section v-if="show" class="animated" transition="fade">
		<div class="well breakdown">
			<div class="well-action text-right">
	            <a @click.prevent="$dispatch('closeModal')"><i class="fa fa-times-circle-o fa-2x closer" aria-hidden="true"></i></a>
	        </div>
			<div class="row">
			    <div class="col-md-6 col-md-offset-3">
			    	<div class="text-center">
						<h4>MORE DETAILS</h4>
						<p>Here's how your offer status progresses.</p>
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="spacer-mini"></div>
					<!-- New Table -->
					<div class="table-moredetails">
						<div class="table-moredetails__title">
							<h4>HIGH PAYING CASH SURVEYS and 30 DAY CHALLENGE</h4>
						</div>
						
						<div class="row content-moredetails">
							<div class="col-xs-3 text-right"></div>
							<div class="col-xs-6">
								<div class="">
									<div class="row">
										<div class="col-xs-4 text-right">
											<div class="text-center">
												<img src="/images/earned.jpg" alt="">
												<p class="icon-name">Earned</p>
											</div>
										</div>
										<div class="col-xs-4 text-center">
											<img src="/images/arrow.png" alt="" class="custom-arrow">
										</div>
										<div class="col-xs-4 text-left">
											<div class="text-center">
												<img src="/images/redeemed.jpg" alt="">
												<p class="icon-name">Redeemed</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-3"></div>
						</div>

					</div>
					<div class="table-moredetails">
						<div class="table-moredetails__title">
							<h4>FROM OUR SPONSORS and FREEBIES</h4>
						</div>

						<div class="row content-moredetails">
							<div class="col-xs-3 text-right"></div>
							<div class="col-xs-6">
								<div class="">
									<div class="row">
										<!--<div class="col-xs-4 text-right">-->
											<!--<div class="text-center">-->
												<!--<img src="/images/submitted.jpg" alt="">-->
												<!--<p class="icon-name">Submitted</p>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="col-xs-4 text-center">-->
											<!--<img src="/images/arrow.png" alt="" style="width: 90px;margin-top: 10px;">-->
										<!--</div>-->
										<!--<div class="col-xs-4 text-left">-->
											<!--<div class="text-center">-->
												<!--<img src="/images/approved.jpg" alt="">-->
												<!--<p class="icon-name">Approved</p>-->
											<!--</div>-->
										<!--</div>-->
									</div>
								</div>
							</div>
							<div class="col-xs-3"></div>
						</div>

						<div class="row">
							<div class="col-xs-3" style="margin-left: 32px;">
								<h5>COREG</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3 text-right" style="padding-top: 10px;">
								<small><i>Unregistered</i></small>
							</div>
							<div class="col-xs-6">
								<div class="">
									<div class="row">
										<div class="col-xs-4 text-right">
											<div class="text-center">
												<img src="/images/clock.jpg" alt="">
												<p class="icon-name">Submitted</p>
											</div>
										</div>
										<div class="col-xs-4 text-center">
											<small><i>(upon registration)</i></small>
										</div>
										<div class="col-xs-4 text-left">
											<div class="text-center">
												<img src="/images/submitted.jpg" alt="">
												<p class="icon-name">Approved</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-3"></div>
						</div>

						<div class="row">
							<div class="col-xs-3 text-right" style="padding-top: 10px;">
								<small><i>Registered</i></small>
							</div>
							<div class="col-xs-6">
								<div class="">
									<div class="row">
										<div class="col-xs-4 text-right">
											<div class="text-center">
												<img src="/images/submitted.jpg" alt="">
												<p class="icon-name">Submitted</p>
											</div>
										</div>
										<div class="col-xs-4 text-center">
											<img src="/images/arrow.png" alt="" class="custom-arrow">
										</div>
										<div class="col-xs-4 text-left">
											<div class="text-center">
												<img src="/images/approved.jpg" alt="">
												<p class="icon-name">Approved</p>
											</div>
										</div>
										<!--<div class="col-xs-4 text-right">-->
											<!--<div class="text-center">-->
												<!--<img src="/images/submitted.jpg" alt="">-->
												<!--<p class="icon-name">Submitted</p>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="col-xs-4 text-center" style="padding-top: 10px;">-->
											<!--<strong>OR</strong>-->
										<!--</div>-->
										<!--<div class="col-xs-4 text-left">-->
											<!--<div class="text-center">-->
												<!--<img src="/images/disapproved.jpg" alt="">-->
												<!--<p class="icon-name">Approved</p>-->
											<!--</div>-->
										<!--</div>-->
									</div>
								</div>
							</div>
							<div class="col-xs-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script type="babel">
    import LocalButton from './LocalButton.vue';
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['user'],
        components: {LocalButton},
        data () {
            return {
                show: false,
                windowName: 'details'
            }
        }
    }
</script>