<template>
   <section v-if="show" class="animated" transition="fade">

       <div v-if="user.can_challenge==1">
           <h1 class="move-down text-center title">Come back tomorrow for more!</h1>
           <div class="spacer"></div>
           <div class="row">
               <p class="text-center move-up-large">You have already completed your challenge for today.</p>
               <div class="option-set">
                   <div class="row">
                       <p>&ndash; Complete a quick, easy survey daily, for 30 days. You'll earn $1 per day - that's $30 total!</p>
                       <p>&ndash; If you miss a day, You'll miss your dollar for that day. Never Fear&mdash;you can earn your dollar when you come back and take a survey! Take your next survey as soon as you come back and you'll get your next dollar. That means you can earn $30 in 30 days...or you can stretch it out over a long period of time if you want to.</p>
                       <p>&ndash; Track your progress on the calendar!</p>
                   </div>
                   <local-button ></local-button>
               </div>
           </div>
       </div>

       <div v-if="user && user.can_challenge==2">
           <challenge-done></challenge-done>
       </div>

   </section>
</template>
<script type="text/babel">
    import LocalButton from './LocalButton.vue';
    import Active from './mixins/Active.vue';
    import ChallengeDone from './ChallengeDone.vue';
    export default{
        mixins: [Active],
        props: ['user'],
        components: {LocalButton,ChallengeDone},
        data () {
            return {
                show: false,
                windowName: 'done'
            }
        }
    }
</script>