<template>
    <footer class="footer hidden-xs"> <!-- hidden when in mobile -->
        <div class="container">
            <div class="row">
                <div class="spacer-mini"></div>
                <div class="col-md-4">
                    <a data-toggle="modal" data-target="#faq-modal">FAQ</a><br>
                    <small class="small-desc">Frequently Asked Questions</small>
                </div>
                <div class="col-md-4">
                    <a data-toggle="modal" data-target="#terms-modal">TERMS OF USE</a><br>
                    <small class="small-desc">View our terms</small>
                    <div class="spacer-mini"></div>
                    <a data-toggle="modal" data-target="#policy-modal">PRIVACY POLICY</a><br>
                    <small class="small-desc">View our policies</small>
                </div>
                <div class="col-md-4">
                    <a href="javascript:;" @click="displayFeedback">CONTACT US / Tell us how we can improve</a><br>
                    <small class="small-desc">Got a question or a comment? or Tell us how we do</small>
                    <div class="spacer-mini"></div>
                    <!--<a href="javascript:;" @click="displayContact">CONTACT US</a><br>-->
                    <!--<small class="small-desc">Got a question or a comment?</small>-->
                </div>
            </div>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:;" @click.prevent="displayContact">Contact Us</a></li>
                <li>
                    <terms></terms>
                </li>
                <li>
                    <policy></policy>
                </li>
                <li><a href="javascript:;">Feedback</a></li>
                <li>
                    <faq></faq>
                </li>
            </ul> -->
        </div>
    </footer><!-- end /footer -->
</template>
<script type="text/javascript">
    import Faq from './Footer/Faq.vue';
    import Policy from './Footer/Policy.vue';
    import Terms from './Footer/Terms.vue';

    export default{
        components: {Faq,Policy,Terms},
        methods: {
            displayContact() {
                this.$dispatch('openModal','contact');
            },
            displayFeedback() {
                this.$dispatch('openModal','feedback');
            }
        },
        events : {
          'show-accordion' (name) {
              this.$broadcast('show-accordion', name);
          }
        }
    }
</script>