<style>
    .earnings-info {
        width: 100%;
    }

    .thick-hr {
        margin-right: 1%;
        margin-left: 1%;
    }

    .wallet-earning {
        margin-bottom: 3%;
        margin-top: -3%;
    }

    .earning-container {
        text-align: center;
        padding: 5% 0;
    }

    .value {
        margin: 0;
        font-weight: 700;
        margin: 7px 0 0;
        font-size: 15px;
    }

    .green-bg {
        background: #DFF0D8;
        color: #BABCBE;
    }

    .blue-bg {
        background: #D9EDF7;
        color: #BABCBE;
    }

    .earning-category {
        font-weight: 700;
        font-size: xx-small;
        display: block;
    }

    .is-padded {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-redeem__mobile {
        background: #006600;
        color: #fff;
        line-height: 3em;
        margin-right: 6px;
    }

    .is-btn__redeem {
        margin-bottom: 8%;
    }

    .is-fix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        right: 0;
        left: 0;
    }

    .bordered-menu {
        background: #ffffff;
        padding: 1%;
        border-bottom: 1px solid #babcbe;
    }

    .redeem-btn {
        background: #129346;
        color: white; 
        line-height: 2em;
    }

    .border-right {
        border-right: 1px solid #D3D3D3;
    }

    .icon-bar {
        background: #00CCFF;
    }

    .navbar-nav__custom {
        margin: 15% -15px -20%;
        border-bottom: 1px solid #D3D3D3;
        padding-bottom: 5%;
        background: white;
        padding-right: 7%;
    }

    .navbar-nav > li > a {
        color: #414042; 
    }
    .back-arrow-text {
        font-size: 20px;
        font-weight: 700;
        color: #00CCFF;
        display: inline-block;
    }
    .mobile-wallet .col-xs-2 {
        width: 20%;
    }
    .mobile-wallet .col-xs-4 {
        width: 26%;
    }
    .mobile-wallet .col-xs-3 {
        width: 17%;
    }
    .mobile-wallet .navbar-toggle {
        margin-right: 4px;
    }
    @media only screen and (max-width: 768px) {
        a.custom-back-arrow > img {
            width: auto;
        }
    }
</style>
<template>
    <header>
        <div class="sub-heading">
            <!-- Start Mobile wallet -->
            <div class="navbar-fixed-top">
                <div class="mobile-wallet hidden-sm hidden-md hidden-lg is-fix">
                <div class="row row-eq-height bordered-menu" style="margin-left: -8px;margin-right: -8px;">
                    <div class="col-xs-2 is-padded border-right text-center" @click="requestPayment('hpcs')">
                        <p class="value value-money green" :class="{ 'glow-text' : glowHpcs }">{{ (user ? user.money_hpcs+user.money_hpcs_linkout+mimicHpcs : mimicHpcs) | currency }}</p>
                        <span class="earning-category">HPCS</span>
                    </div>
                    <div class="col-xs-2 is-padded border-right text-center" @click="requestPayment('challenge')">
                        <p class="value value-money green" :class="{ 'glow-text' : glowChallenge }">{{ (user ? user.money_challenge : 0) | currency }}</p>
                        <span class="earning-category">30 DAY</span>
                    </div>
                    <div class="col-xs-4 is-padded border-right text-center" @click="requestPayment('hpcs')">
                        <p class="value value-money green" :class="{ 'glow-text' : glowOffers }">{{ (user ? user.money_offers : 0) | currency }}</p>
                        <span class="earning-category">Sponsors</span>
                    </div>
                    <div class="col-xs-3 is-padded border-right text-center" @click="requestPayment('freebies')">
                        <span class="badge badge-danger" :class="{ 'glow-text' : glowFreebies }">{{ (user ? user.count_freebies : 0) }} </span>
                        <span class="earning-category">Freebies</span>
                    </div>
                    <div v-if="user.registered==1" class="col-xs-3 is-padded text-center btn-redeem__mobile">
                        <a href="/logout"><span class="earning-category">Logout</span></a>
                    </div>

                    <div v-else class="col-xs-3 is-padded text-center">
                       <!-- <span class="earning-category" style="cursor: pointer">Redeem</span> -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                      </div>
                    </div>
                </div>
                <div class="collapse mobile hidden-sm hidden-md hidden-lg" id="myNavbar">
                    <ul class="nav navbar-nav navbar-nav__custom">
                        <li class="text-right"><a href="javascript:;" @click="loginModal">Login</a></li> 
                        <li class="text-right"><a href="javascript:;" @click="requestRedeem()">Redeem</a></li> 
                    </ul>
                </div>
            </div>
                <!-- <div class="row wallet-earning row-eq-height"> -->
                <!-- <div class="row row-eq-height">
                    <div class="col-xs-3 is-padded">
                        <div class="earning-container green-bg" @click="requestPayment('hpcs')">
                            <p class="value value-money green">{{ (user ? user.money_hpcs+user.money_hpcs_linkout+mimicHpcs : mimicHpcs) | currency }}</p>
                            <span class="earning-category">HPCS</span>
                        </div>
                    </div>
                    <div class="col-xs-3 is-padded">
                        <div class="earning-container green-bg" @click="requestPayment('challenge')">
                            <p class="value value-money green">{{ (user ? user.money_challenge : 0) | currency }}</p>
                            <span class="earning-category">30 DAY</span>
                        </div>
                    </div>
                    <div class="col-xs-3 is-padded">
                        <div class="earning-container blue-bg">
                            <p class="value value-money green">{{ (user ? user.money_offers : 0) | currency }}</p>
                            <span class="earning-category">Sponsors</span>
                        </div>
                    </div>
                    <div class="col-xs-3 is-padded">
                        <div class="earning-container blue-bg">
                            <span class="badge badge-danger">{{ (user ? user.count_freebies : 0) }} </span>
                            <span class="earning-category">Freebies</span>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row is-padded is-btn__redeem">
                    <button class="btn btn-redeem__mobile btn-sm btn-block" @click="requestRedeem()">Redeem</button>
                </div> -->
            </div>
            <!-- End Mobile wallet -->

        <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <a href="."><img src="/images/logo.png" class="img-responsive hpcs-logo" alt="logo"></a>
                <br>
                <br>
                <a v-if="options.link" :href="urlOrigin" class="custom-back-arrow">
                    <img src="/images/back-arrow.png">
                    <span class="back-arrow-text">Back to HPCS Main site</span>
                </a>
            </div>
            <!-- Start mobile my wallet -->
            <div class="col-md-6 col-sm-6" v-show="mobileVersion" transition="fade-enter">
                <div class="row text-center earnings-info">
                    <div class="row">
                        <div class="col-xs-12 current-earnings">My Wallet</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row row-eq-height">
                                <div class="col-xs-6 survey-earnings tooltip-hpcs" @click="requestPayment('hpcs')">
                                    <header-tooltip glow="glowHpcs" v-if="user" :user="user" :condition="user.money_hpcs+user.money_hpcs_linkout+mimicHpcs" title="HIGH PAYING CASH SURVEYS" :freebies-count="0"></header-tooltip>
                                    <header-tooltip-clone :condition="mimicHpcs" v-else title="HIGH PAYING CASH SURVEYS"></header-tooltip-clone>
                                </div>

                                <div class="col-xs-6 survey-earnings tooltip-hpcs" @click="requestPayment('challenge')">
                                    <header-tooltip glow="glowChallenge" v-if="user" :user="user" :condition="user.money_challenge" title="30 Day Challenge" :freebies-count="0"></header-tooltip>
                                    <header-tooltip-clone :condition="0" v-else title="30 Day Challenge"></header-tooltip-clone>
                                </div>
                            </div>
                            <div v-if="user && user.registered" class="row row-redeem" @click="requestPayment('hpcs')">
                                <div class="col-xs-12">
                                    <h5>Redeem</h5>
                                </div>
                            </div>
                            <div v-else @click="requestRedeem()" class="row row-redeem" :class="{ hidden : !userRedeem }">
                                <div class="col-xs-12">
                                    <h5>Redeem</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row visit-redeem" @click="moreDetails">
                                <h5 style="font-weight: 700 !important; color: #fff; opacity: inherit;">Click here for more details</h5>
                            </div>
                            <div class="row row-eq-height">
                                <div class="col-xs-6 survey-extra tooltip-hpcs" @click="requestPayment('sponsors')">
                                    <header-tooltip glow="glowOffers" v-if="user" :user="user" :condition="user.money_offers" title="From Our Sponsors"></header-tooltip>
                                    <header-tooltip-clone :condition="0" v-else title="From Our Sponsors"></header-tooltip-clone>
                                </div>
                                <div class="col-xs-6 survey-extra tooltip-hpcs" @click="requestPayment('freebies')">
                                    <header-tooltip glow="glowFreebies" v-if="user" freebies="freebies" :user="user" :condition="user.count_freebies" title="Freebies" :freebies-count="freebiesCount"></header-tooltip>
                                    <header-tooltip-clone :condition="0" v-else title="Freebies" freebies="freebies"></header-tooltip-clone>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row text-center -->
            </div>
            <!-- End mobile my wallet -->
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="row text-center earnings-info">
                    <div class="row">
                        <div class="col-xs-12 current-earnings">My Wallet</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row row-eq-height">
                                <div class="col-xs-6 survey-earnings tooltip-hpcs" @click="requestPayment('hpcs')">
                                    <header-tooltip glow="hpcs" v-if="user" :user="user" :condition="user.money_hpcs+user.money_hpcs_linkout+mimicHpcs" title="HIGH PAYING CASH SURVEYS" :freebies-count="0"></header-tooltip>
                                    <header-tooltip-clone :condition="mimicHpcs" v-else title="HIGH PAYING CASH SURVEYS"></header-tooltip-clone>
                                </div>

                                <div class="col-xs-6 survey-earnings tooltip-hpcs" @click="requestPayment('challenge')">
                                    <header-tooltip glow="challenge" v-if="user" :user="user" :condition="user.money_challenge" title="30 Day Challenge" :freebies-count="0"></header-tooltip>
                                    <header-tooltip-clone :condition="0" v-else title="30 Day Challenge"></header-tooltip-clone>
                                </div>
                            </div>
                            <div v-if="user && user.registered" class="row row-redeem" @click="requestPayment('hpcs')">
                                <div class="col-xs-12">
                                    <h5>Redeem</h5>
                                </div>
                            </div>
                            <div v-else @click="requestRedeem()" class="row row-redeem" :class="{ hidden : !userRedeem }">
                                <div class="col-xs-12">
                                    <h5>Redeem</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row visit-redeem" @click="moreDetails">
                                <h5 style="font-weight: 700 !important; color: #fff; opacity: inherit;">Click here for more details</h5>
                            </div>
                            <div class="row row-eq-height">
                                <div class="col-xs-6 survey-extra tooltip-hpcs" @click="requestPayment('sponsors')">
                                    <header-tooltip glow="offers" v-if="user" :user="user" :condition="user.money_offers" title="From Our Sponsors"></header-tooltip>
                                    <header-tooltip-clone :condition="0" v-else title="From Our Sponsors"></header-tooltip-clone>
                                </div>
                                <div class="col-xs-6 survey-extra tooltip-hpcs" @click="requestPayment('freebies')">
                                    <header-tooltip glow="freebies" v-if="user" freebies="freebies" :user="user" :condition="user.count_freebies" title="Freebies" :freebies-count="freebiesCount"></header-tooltip>
                                    <header-tooltip-clone :condition="0" v-else title="Freebies" freebies="freebies"></header-tooltip-clone>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row text-center -->
            </div>
            <div class="col-md-12 hidden-xs hidden-sm">
                <hr class="thin-hr">
            </div>
        </div>
        <div class="row hidden-xs hidden-sm">
            <hr class="thick-hr">
        </div>
        </div>
    </header>
</template>
<script type="text/ecmascript-6">

    import HeaderTooltip from './Header/Tooltip.vue'
    import HeaderTooltipClone from './Header/TooltipClone.vue'

    export default{
        props: ['user', 'freebiesCount', 'offerTotalApproved','options'],
        components: {HeaderTooltip, HeaderTooltipClone},

        data: function () {
            return {
                userData: [],
                sum: 0,
                sponsorsTooltip: [],
                active: false,
                glowHpcs :false,
                glowChallenge :false,
                glowOffers :false,
                glowFreebies :false,
                mimicHpcs : 0,
                userRedeem : false,
                mobileVersion : false
            }
        },

        computed: {
            showGlow() {
                return !!this.user && this.user.can_challenge && !this.user.registered;
            },

            urlOrigin()
            {
                return window.location.origin;
            }
        },
        methods : {

        requestPayment(activeList)
        {
            if (!this.user) {
                swal('Zero earnings.', 'Answer the surveys to start earning!', 'warning');
                return;
            }
            this.$dispatch('openModal', 'redeem');
            this.$dispatch('activeList', activeList);

        },

        loginModal()
        {
            this.$dispatch('loginModal');
        },

        requestRedeem()
        {
            if(!this.user)
            {
                swal('Zero earnings.', 'Answer the surveys to start earning!', 'warning');
                return;
            }

            if (this.user && this.user.registered) {
                console.log('call ajax to server for redeem');
                return;
            }

            this.$dispatch('closeModal');
            this.$dispatch('openModal', 'register');
        },

        moreDetails()
        {
            this.$dispatch('openModal', 'details');
        }
        },

        events : {

            showMobileheader() {
                this.mobileVersion = !this.mobileVersion;
            },

            glowChange(glow)
            {
                let self = this;
               switch(glow)
               {
                   case 'hpcs' :
                       self.glowHpcs = true;
                        setTimeout(function()
                        {
                            self.glowHpcs = false;
                        },3000);
                   break;
                   case 'challenge' :
                        self.glowChallenge = true;
                        setTimeout(function()
                        {
                            self.glowChallenge = false;
                        },3000);
                   break;
                   case 'offers' :
                       self.glowOffers = true;
                       setTimeout(function()
                       {
                           self.glowOffers = false;
                       },3000);
                   break;
                   case 'freebies' :
                   self.glowFreebies = true;
                    setTimeout(function()
                    {
                        self.glowFreebies = false;
                    },3000);
                   break;
               }
            },

            twentyFiveAddHeader()
            {
                if(!this.user || this.user.max_page_level==2)
                {
                    new Audio('/audio/register.mp3').play();
                    this.mimicHpcs = this.mimicHpcs+0.25;
                }
            }
        },

        watch :
        {
            user()
            {
                if(this.user)
                {
                    this.userRedeem = true;
                    this.mimicHpcs = 0;
                }
            }
        }
}
</script>