<template>
       <div class="Local__div text-center" >
            <button @click="showLocal" class="btn btn-primary Local__button">Earn More from Our Local Surveys</button>
       </div>
</template>
<script type="text/javascript">
    export default{
        methods: {
            showLocal() {
                this.$dispatch('changeWindow','localsurveys');
            }
        }
    }
</script>
