<style>
    .coreg-stripes > td{
        border: 1px solid white;
    }

    .coreg-labels {
        font-size: 26px;
    }

    .hide-me {
        display: none;
    }

    .has-errors {
        border: 2px solid red;
    }

    .has-errors:focus {
        border-color: red;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F44336;
    }

    .check-errors {
        outline: 2px solid red;
    }

    .check-errors:focus {
        outline-color: red;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F44336;
    }

    .non-polar-width {
        width: 130% !important;
    }

    .collapse.in{
        display: block !important;
    }

    .q-title {
        font-weight: 700;
        line-height: normal;
    }

    .q__25_gray {
        color: lightgray;
    }

    .q__25_green {
        color: green !important;
    }

    .green-earning {
        color: green;
        font-weight: 700;
        font-size: 1.2em;
    }

    .invisible {
        display: none;
    }

    /*.form-control:focus {*/
    /*border-color: red;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F44336;*/
    /*}*/

</style>

<template>
    <div class="v-cloak--hidden animated" transition="fade" v-if="hpcs" v-show="show">

        <h1 v-show="!status" class="{{ hpcs.header_big_class }} text-center title"><span v-if="questions.length>0">{{hpcs.header_big}}</span><span v-else>No more questions left</span></h1>
        <div class="spacer"></div>
        <h2 v-show="!status" class=" {{ hpcs.header_small_class }}  text-center move-up-large description"><span v-if="questions.length>0">{{ hpcs.header_small }}</span><span v-else>Navigate to continue</span> </h2>
        <p v-show="!status" v-if="hpcs.content" class="{{ hpcs.content_class }}">{{ hpcs.content }}</p>

        <div class="row" v-show="!status">
                <h6 class="required-icon text-center" >
                <!--<i class="fa fa-asterisk"></i>-->
                <span v-show="user">Please answer all questions.</span>
            </h6>
            <form action="/hpcs/answers" method="POST" novalidate id="question-form">
                <div class="col-md-12">
                    <div class="option-set">
                        <div class="row">
                                <div class="col-xs-12" v-for="question in questions" :class="{ 'coreg-stripes' : $index%2==0 && question.lead_reactor, 'non-coreg' : !question.lead_reactor}">
                                    <div class="row q-container">

                                        <!--QUESTIONS/ CONTENTS / DESCRIPTIONS-->
                                        <div class="col-md-5 col-xs-12">

                                            <div v-if="question.lead_reactor" class="Question__lead_content">
                                                <p class="q-title">{{question.campaign.deal }}</p>

                                                <div v-if="question.content.length>200 && selectedQuestionId!=question.id" style="align-items: left" class="q-desc">

                                                    <div :id="'content-partial-' + question.id">
                                                        {{ question.campaign.description.substring(0,180) }}...
                                                    </div>

                                                    <div :id="'content-full-' + question.id" class="hidden">
                                                        {{ question.campaign.description }}
                                                    </div>
                                                    <button @click="toggleContent($event,true,question.id)" :id="'button-full-' + question.id" class="btn btn-xs btn-default" type="button">
                                                        Show more
                                                    </button>

                                                    <button @click="toggleContent($event,false,question.id)" :id="'button-partial-' + question.id" class="btn btn-xs btn-default hidden" type="button">
                                                        Show less
                                                    </button>
                                                </div>

                                                <div v-else style="align-items: left">
                                                    {{ question.content }}
                                                </div>
                                            </div>
                                            <div class="Question__title" v-if="!question.lead_reactor">
                                                <p class="q-title">{{ question.title }}</p>
                                            </div>
                                            <div class="Question__content" v-if="!question.lead_reactor">
                                                {{ question.content }}
                                            </div>
                                        </div>
                                        <!--RADIO BUTTONS HERE-->
                                        <div class="polarized-row col-md-4 col-xs-6">
                                            <!--_____________________NON POLAR__________________________________- -->
                                            <div class="row" v-if="!question.polar">
                                                <div class="col-xs-6">
                                                    <div class="radio-div__nonpolar">
                                                        <input type="radio"
                                                               :field="'question' + question.id"
                                                               class="questions-yes"
                                                               value="1"
                                                               placeholder="?"
                                                               tabindex="$index+1"
                                                               :checked="user && oldValue(question.id,false,1,question.lead_reactor)"
                                                               name="answers[{{question.id}}]"
                                                               @click="clickPusher(question.id,true)"
                                                        >
                                                        <span class="radio-label__nonpolar" v-if="!question.special==1">A lot</span>
                                                        <span class="radio-label__nonpolar" v-else>Yes</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="radio-div__nonpolar" v-show="!question.special==1">
                                                        <input type="radio"
                                                               :field="'question' + question.id"
                                                               class="questions-yes"
                                                               value="3"
                                                               placeholder="?"
                                                               tabindex="$index+1"
                                                               :checked="oldValue(question.id,false,3,question.lead_reactor)"
                                                               name="answers[{{question.id}}]"
                                                               @click="clickPusher(question.id,true)"
                                                        >
                                                        <span class="radio-label__nonpolar" v-if="!question.special==1">Not much</span>
                                                        <span class="radio-label__nonpolar" v-else>No</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row" v-if="question.polar">

                                                <!--_____________________YES OR NO__________________________________- -->
                                                <div class="col-xs-6">
                                                    <div class="radio-div">
                                                        <input type="radio"
                                                               :field="'question' + question.id"
                                                               name="answers[{{question.id}}]"
                                                               value="1"
                                                               class="questions-yes"
                                                               @click="additionalFields('additional-groups-'+question.id,(question.lead_reactor==1?(question.campaign.additional_fields?1:0):0),question.id,question.lead_reactor)"
                                                               :checked="oldValue(question.id,true,'yes',question.lead_reactor)"
                                                        > <span class="radio-label">Yes</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="radio-div">
                                                        <input type="radio"
                                                               :field="'question' + question.id"
                                                               name="answers[{{question.id}}]"
                                                               value="0"
                                                               class="questions-no"
                                                               @click="additionalFields('additional-groups-'+question.id,0,question.id,question.lead_reactor)"
                                                               :checked="oldValue(question.id,true,'no',question.lead_reactor)"
                                                        > <span class="radio-label">No</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--STICKER IF COREG-->
                                        <div class="col-md-3 col-xs-6 Sticker__container text-center"
                                            :class="{ 'border-left' : question.lead_reactor  }"
                                            v-if="question.lead_reactor" style="width: 25%">
                                            <img :src="imageFetcher(question.campaign.image)" alt="campaign sticker" class="coreg-sticker">
                                        </div>

                                        <div class="col-sm-3 col-xs-12 Sticker__container text-center"
                                             :class="{ 'border-left' : question.lead_reactor  }"
                                             v-else style="width: 25%">
                                            <span :id='"twenty-five-yes-"+question.id' class="green-earning invisible">You've earned $0.25!</span>
                                            <h1 :id='"twenty-five-no-"+question.id' class="q__25_gray">$0.25</h1>
                                            <!--:class="checkTwentyFive(question.id)"-->
                                        </div>
                                    </div>

                                    <!--ADDITIONAL FIELDS IF ITS AVAILABLE AND YES-->
                                    <div v-if="question.lead_reactor && question.campaign.additional_fields" :id="'additional-groups-'+question.id" class="hide-me fade-in fade-out col-xs-12">
                                        <div class="col-xs-12 q-container" :class="{ hidden : countValid(question.campaign.additional_fields) }">
                                            <div class="row q-container">
                                                <div class="col-md-2 col-xs-12">
                                                    <label><i> Required fields </i></label>
                                                </div>
                                                <div class="col-md-9 col-xs-12 q-container">
                                                    <div class="row form-group q-container">
                                                        <div class="col-xs-12">
                                                            <h4>Please fill out the form below:</h4>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" v-for="campaign in question.campaign.additional_fields">
                                                        <div class="row" v-if="campaign.status==1">
                                                            <div class="col-md-5 col-xs-12 ">
                                                                <p>{{campaign.description}}</p>
                                                            </div>
                                                            <div class="col-md-7 col-xs-12">
                                                                <div v-if="campaign.type=='input'">
                                                                    <input v-if="campaign.field=='address'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}"  type="text" name="additional[{{question.id}}][{{ campaign.field }}]" class="form-control addition-field addition-field-{{question.id}}" @keyup="validateField" placeholder="Enter here" v-model="globalAddress">
                                                                    <input v-else data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}"  type="text" name="additional[{{question.id}}][{{ campaign.field }}]" class="form-control addition-field addition-field-{{question.id}}" @keyup="validateField" placeholder="Enter here">
                                                                </div>
                                                                <textarea v-if="campaign.type=='textarea'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" class="form-control addition-field addition-field-{{question.id}}" @keyup="validateField" style="resize: vertical" rows="3"></textarea>
                                                                <select v-if="campaign.type=='select'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" id="" class="form-control addition-field addition-field-{{question.id}}" @change="validateField">
                                                                    <option value="" selected> -Select- </option>
                                                                    <option value="{{ option.value }}" v-for="option in campaign.options"> {{ option.name }}</option>
                                                                </select>
                                                                <!--or (202) 445 6213-->
                                                                <input v-if="campaign.type=='telephone'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" type="text"  class="form-control addition-field addition-field-{{question.id}}" @keyup="validateField" placeholder="(XXX) XXX-XXXX " v-model="globalPhone" maxlength="14" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                                <input v-if="campaign.type=='mobile-phone'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" type="text" class="form-control addition-field addition-field-{{question.id}}" @keyup="validateField" placeholder="(XXX) XXX-XXXX " v-model="globalPhone" maxlength="14" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

                                                                <input v-if="campaign.type=='mobile-phone' || campaign.type=='telephone'" type="hidden" name="additional[{{question.id}}][{{ campaign.field }}]" :value="globalPhone | formatPhone" maxlength="10" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}">

                                                                <div v-if="campaign.type=='mobile-phone-3' || campaign.type=='mobile-phone-3'">
                                                                    <input v-model="phone1" :value="globalPhone | formatPhone1" type="number" name="additional[{{question.id}}][{{ campaign.field }}1km]" data-required="{{campaign.required}}" data-validate-by="phone1"  style="width:60px;" maxlength="3" class="addition-field addition-field-{{question.id}}" @keyup="validateField" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"> -
                                                                    <input v-model="phone2" :value="globalPhone | formatPhone2"  type="number" name="additional[{{question.id}}][{{ campaign.field }}2km]" data-required="{{campaign.required}}" data-validate-by="phone2"  style="width:60px;" maxlength="3" class="addition-field addition-field-{{question.id}}" @keyup="validateField" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"> -
                                                                    <input v-model="phone3" :value="globalPhone | formatPhone3"  type="number" name="additional[{{question.id}}][{{ campaign.field }}3km]" data-required="{{campaign.required}}" data-validate-by="phone3"  style="width:80px;" maxlength="4" class="addition-field addition-field-{{question.id}}" @keyup="validateField" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                                    <input v-model="phone1" type="hidden" name="additional[{{question.id}}][{{ campaign.field }}4]" :value="globalPhone | formatPhone1">
                                                                    <input v-model="phone2" type="hidden" name="additional[{{question.id}}][{{ campaign.field }}5]" :value="globalPhone | formatPhone2">
                                                                    <input v-model="phone3" type="hidden" name="additional[{{question.id}}][{{ campaign.field }}6]" :value="globalPhone | formatPhone3">
                                                                </div>

                                                                <input v-if="campaign.type=='user_agent'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" type="hidden" :value="device.agent">
                                                                <input v-if="campaign.type=='device_type'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" type="hidden" :value="device.type">
                                                                <input v-if="campaign.type=='os_type'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" type="hidden" :value="device.os">
                                                                <input v-if="campaign.type=='browser_agent'" data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" type="hidden" :value="device.browser">
                                                            </div>
                                                        </div>

                                                        <div v-if="campaign.type=='checkbox_x'" class="col-xs-12">
                                                            <p v-html="campaign.options" style="text-align: justify"></p>
                                                        </div>
                                                        <div v-if="campaign.type=='checkbox'" class="col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-1">
                                                                    <input data-required="{{campaign.required}}" data-validate-by="{{campaign.type}}" name="additional[{{question.id}}][{{ campaign.field }}]" type="checkbox" value="Y" class="addition-field addition-field-{{question.id}}" @click="validateField" style="width: 15px">
                                                                </div>
                                                                <div class="col-xs-11">
                                                                    <p style="text-align: justify">
                                                                        <span v-html="campaign.options"></span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br class="col-md-hidden">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <hr style="background-color: #fff; border-top: 2px dashed #8c8b8b;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button id="submitThis"
                            type="button"
                            class="btn btn-primary submit"
                            :class="{'submitting' : loading, 'disabled' : loading }"
                            @click="submitQuestions"
                            :disabled="loading || (answered.length<questions.length && hpcs.survey_id==1)"
                    >

                        <!--:class="{'submitting' : loading, 'disabled' : loading || ! $validation.valid }"-->
                        <span v-show="! loading"><span v-show="questions.length>0">SUBMIT</span> <span v-else>CONTINUE</span></span>
                        <div class="la-ball-fall-2" v-show="loading">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">
    import Active from './mixins/Active.vue';
    import Events from './mixins/Events.vue';
    export default{
        mixins: [Active,Events],
        props: ['questions','user','hpcs','status','device','prepop'],
        data() {
            return {
                answered : [],
                loading: false,
                show: false,
                windowName: 'questions',
                globalPhone : (this.prepop.phone1+this.prepop.phone2+this.prepop.phone3)?this.prepop.phone1+this.prepop.phone2+this.prepop.phone3:null,
                globalAddress : this.prepop.address?this.prepop.address:null,
                selectedQuestionId : null,
                phone1 : null,
                phone2 : null,
                phone3 : null
            }
        },

        ready(){
            this.readyState = true;
        },

        computed : {

        },
        methods: {

            validateAnswers($form)
            {

                var myArrays = $form.serializeArray();
                var answers = [];
                var additional = [];

                $('.addition-field').removeClass('has-errors');

                $.map(myArrays, function(element,index) {
                    if(element['name'].substring(0,7)=='answers')
                    {
                        if(element['value']==1)
                        {
                            element['index'] = element['name'].substring(8,11);
                            answers.push(element);
                        }
                    }
                    else if(element['name'].substring(0,10)=='additional')
                    {
                        additional.push(element);
                    }
                });

                if(additional.length==0 || answers.length==0)
                {
                    return true;
                }

                var errors = [];
                var top = true;
                var errors_count = 0;

                var regex1 = /^1?([2-9]..)([2-9]..)(....)$/;

                $.map(answers, function(element,index) {

                    var class_name = '.addition-field-'+element['index'];

                    errors = $(class_name).map(function(){

                        if($(this).val()=='')
                        {
                            if(top==true)
                            {
                                $(this).focus();
                                top=false;
                            }
                            $(this).addClass('has-errors');
                            errors_count++;
                        }
                        else {
                            var raw_number = $(this).val().replace(/[^0-9]/g,'');

                            switch ($(this).attr('data-validate-by'))
                            {
                                case 'telephone' :
                                    if(!regex1.test(raw_number)) {
                                        if(top==true)
                                        {
                                            $(this).focus();
                                            top=false;
                                        }
                                        $(this).addClass('has-errors');
                                        errors_count++;

                                    } else {
                                        $(this).val(raw_number.replace(regex1,'$1$2$3'));
                                    }
                                break;
                            }
                        }

                        if($(this).is(':checkbox'))
                        {
                            if (!$(this).is(':checked')) {
                                $(this).addClass('check-errors');
                                if(errors_count<1)
                                {
                                    $(this).focus();
                                }
                                errors_count++;
                            }
                        }

                    }).get();
                });

                return !errors_count>0;
            },

            submitQuestions (e)
            {
                let $form = $(e.target).closest('form');

                if(this.validateAnswers($form)){
                    this.loading = true;
                    this.$dispatch('submitAnswers', $form);
                }
            },

            imageFetcher(image)
            {
                return image ? '/'+image : '/images/nosticker.png';
            },

            validateField(e){
                var regex1 = /^1?([2-9]..)([2-9]..)(....)$/;

                var $this = $(e.target);
                var type = $this.attr('data-validate-by');

                if($this.val()=='')
                {
                    $this.addClass('has-errors');
                }
                else
                {
                    $this.removeClass('has-errors');

                    var raw_number = $this.val().replace(/[^0-9]/g,'');

                    switch (type)
                    {
                        case 'telephone' :
                            if(!regex1.test(raw_number))
                            {
                                $this.addClass('has-errors');
                            } else
                            {
                                $this.val(raw_number.replace(regex1,'($1) $2-$3'));
                            }
                            break;

                    }
                }

                if($this.is(':checkbox'))
                {
                    if ($this.is(':checked')) {
                        $this.removeClass('check-errors');
                    }
                    else
                    {
                        $this.addClass('check-errors');
                    }
                }
            },

            checkTwentyFive(id)
            {
                if(!this.user)
                {
                    return false;
                }

                let done = this.answered;
                for(var i in done)
                {
                    if(done[i]==id)
                    {
                        return true;
                    }
                }

                this.$nextTick(function () {
                    return false;
                });
            },

            oldValue(id,polar,value,lead_reactor)
            {
                if(lead_reactor==1 || !this.user)
                {
                    return false;
                }

                let done = this.user.questions_answered;

                for(var i in done)
                {
                    if(done[i]['i']==id)
                    {
                       this.clickPusher(id,false);

                        if(polar==true)
                        {
                            if(done[i]['v']==1 && value == 'yes')
                            {
                                return true;
                            }
                            else if(done[i]['v']==0 && value == 'no')
                            {
                                return true;
                            }
                            return false;
                        }
                        else
                        {
                            return done[i]['v'] == value
                        }
                    }
                }
            },

            formatComma(e)
            {
                let $this = $(e.target);
                let number =  $this.val();

                if(number=='')
                {
                    $this.val(0);
                    return true;
                }

                let formatted = parseFloat(number.replace(/,/g, ""))
                        .toFixed(2)
                        .toString()
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                $this.val(formatted);
            },

            additionalFields : function (id,valid,question_id,nlr)
            {
                if(!nlr)
                {
                    this.clickPusher(question_id,true);
                }

                if(valid==1)
                {
                    $('#'+id).removeClass('hide-me');
                }
                else
                {
                    $('#'+id).addClass('hide-me');
                }
            },

            additionalFieldValidator(inputs)
            {
                for(var i in inputs)
                {
                    if(inputs[i]['value']==""||inputs[i]['value']==null)
                    {
                        return false;
                    }
                }
                return true;

            },

            toggleContent(event,content,id)
            {
                if(content)
                {
                    $('#content-full-'+id).removeClass('hidden');
                    $('#content-partial-'+id).addClass('hidden');
                    $('#button-full-'+id).addClass('hidden');
                    $('#button-partial-'+id).removeClass('hidden');
                }
                else
                {
                    $('#content-full-'+id).addClass('hidden');
                    $('#content-partial-'+id).removeClass('hidden');
                    $('#button-full-'+id).removeClass('hidden');
                    $('#button-partial-'+id).addClass('hidden');
                }
            },

            clickPusher(id,react)
            {
//               $('#twenty-five-'+id).addClass('q__25_green');
                $('#twenty-five-yes-'+id).removeClass('invisible');
                $('#twenty-five-no-'+id).addClass('invisible');

                if (!this.hpcs.survey_id == 1) {
                    return false;
                }

                let answered_local = this.answered;
                for (let i in answered_local) {
                    if (answered_local[i] == id) {
                        return false;
                    }
                }
                if(react)
                {
                    this.$dispatch('twentyFiveAdd');
                }
                this.answered.push(id);
            },

            countValid(additional_fields)
            {
                let field = additional_fields;
                let counter = 0;
                for(let i in field)
                {
                    if(!(field[i]['type']=='user_agent' || field[i]['type']=='device_type' || field[i]['type']=='os_type' || field[i]['type']=='browser_agent'))
                    {
                        counter++;
                    }
                }
                return counter==0;
            }
        },

        filters: {
            ifDone(value) {
                let done = this.user.questions_answered;
                for(var i in done)
                {
                    if(done[i]==value)
                    {
                        return false;
                    }
                }
                return true;
            },

            formatPhone(value)
            {
                return value ? value.replace(/\D/g,'') : null;
            },

            formatPhone1(value)
            {
                return value ? value.replace(/\D/g,'').substring(0,3) : null;
            },

            formatPhone2(value)
            {
                return value ? value.replace(/\D/g,'').substring(3,6) : null;
            },

            formatPhone3(value)
            {
                return value ? value.replace(/\D/g,'').substring(6,10) : null;
            }
        },

        events : {
            submitQuestions(){
                var self = this;

                let $form = $('#question-form').closest('form');
                if(this.validateAnswers($form)) {
                    this.loading = true;
                    this.$dispatch('submitAnswers', $form);
                }
            }
        },

        watch : {
            questions(){
                this.answered = [];
            }
        }
    };
</script>