<template>
    <div class="v-cloak--hidden animated" transition="fade" v-if="hpcs" v-show="show">

        <div class="row" v-if="user && user.challenge_designation==1">
            <div class="col-md-12">
                <h1 class="text-center title">Congratulations! You Have Started Your 30 - Day Challenge!</h1>
                <div class="spacer"></div>
                <div class="row">
                    <p class="text-center move-up-large">Think of this survey as a game. Here are the rules:</p>
                    <div class="option-set">
                        <div class="row q-contatiner">
                            <p>&ndash; Complete a quick, easy survey daily, for 30 days. You'll earn $1 per day - that's $30 total!</p>
                            <p>&ndash; If you miss a day, You'll miss your dollar for that day. Never Fear&mdash;you can earn your dollar when you come back and take a survey! Take your next survey as soon as you come back and you'll get your next dollar. That means you can earn $30 in 30 days...or you can stretch it out over a long period of time if you want to.</p>
                            <p>&ndash; Track your progress on the calendar!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="{{ hpcs.header_big_class }} text-center title">{{ hpcs.header_big }}</h1>
        <div class="spacer"></div>
        <h2 class=" {{ hpcs.header_small_class }}  text-center move-up-large description">{{ hpcs.header_small
            }}</h2>
        <p v-if="hpcs.content" class="{{ hpcs.content_class }}">{{ hpcs.content }}</p>
        <div class="row">
            <h6 class="required-icon text-center"><i class="fa fa-asterisk"></i> Please answer all questions.</h6>
                <form action="/hpcs/answers" method="POST" novalidate id="question-challenge-form">
                    <div class="option-set">
                        <div class="row">
                            <table class="table challenge-question__table" v-show="questions">
                                <tbody v-for="question in questions">
                                    <tr v-if="question.link_out==1">
                                        <td>
                                            <hr>
                                                <div class="Question__title"><strong>Link-out Page</strong></div>
                                                <div class="Question__content" style="text-decoration: underline">{{ question.offer.name }}</div>
                                                <div class="Question__content">{{ question.offer.description }}</div>
                                            </td>
                                        </tr>

                                        <tr v-else>
                                            <td >
                                                <div class="Question__title" v-show="!question.lead_reactor"><strong>{{question.title}}:</strong></div>
                                                <div class="Question__content" v-show="!question.lead_reactor">{{question.content}}</div>
                                            </td>
                                            <td v-if="! question.polar">
                                                <div class="input-group dollar-input">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="number" name="answers[]"
                                                           :field="'question' + question.id"
                                                           class="form-control"
                                                           min="1"
                                                           max="100"
                                                           step="1"
                                                           placeholder="?"
                                                    >
                                                </div>
                                            </td>
                                            <td v-if="question.polar" >
                                                <div class="radio-div">
                                                    <input type="radio"
                                                           :field="'question' + question.id"
                                                           name="answers[{{question.id}}]"
                                                           value="1"
                                                           class="questions-yes"
                                                    > <span class="radio-label">Yes</span>
                                                </div>
                                            </td>
                                            <td v-if="question.polar" >
                                                <div class="radio-div">
                                                    <input type="radio"
                                                           :field="'question' + question.id"
                                                           name="answers[{{question.id}}]"
                                                           value="0"
                                                           class="questions-no"
                                                    > <span class="radio-label">No</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="submitThis"
                                    type="button"
                                    class="btn btn-primary submit"
                                    :class="{'submitting' : loading}"
                                    @click="submitQuestions"
                                    :disabled="loading"
                            >
                                <span v-show="! loading">Earn More</span>
                                <div class="la-ball-fall-2" v-show="loading">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                        </div>
                </form>
            </div>
        </div>
  </div>
</template>
<!--:disabled="loading || ! $validation.valid"-->
<script type="text/babel">
    import Active from './mixins/Active.vue';
    import Events from './mixins/Events.vue';
//    import Offer from './LocalSurveys/OfferChallenge.vue';

    export default{
        mixins: [Active,Events],
        props: ['questions','user','hpcs'],
        data() {
            return {
                loading: false,
                show: false,
                windowName: 'questions-challenge',
                gatheredLinks : []
            }
        },

        methods: {

            submitQuestions (e) {
                var links = this.gatheredLinks;
                if(links)
                {
                   for(var i in links)
                   {
                       window.open(links[i],"_blank");
                   }
                }

                this.gatheredLinks = [];

                let $form = $('#question-challenge-form').closest('form');
                this.loading = true;
                this.$dispatch('submitAnswers', $form);
            }
        },

        watch : {
            questions(){
                let questions = this.questions;
                this.gatheredLinks = [];
//
                for(var i  in questions)
                {
                    if(questions[i]['link_out']==1)
                    {
                        this.gatheredLinks.push(questions[i]['offer']['cake_link']);
                    }
                }
//
            }
        },
        events: {
            'loading-off' : function () {
                this.loading = false;
            },
            'new-questions' : function () {
                this.show = false;
            },

            submitQuestionsChild () {
                var self = this;
                if(links)
                {
                    for(var i in links)
                    {
                        window.open(links[i]['url'],  "_blank", "toolbar=yes,scrollbars=yes,resizable=yes");
                    }
                }

                this.gatheredLinks = [];

                let $form = $('#question-challenge-form').closest('form');
                this.loading = true;
                this.$dispatch('submitAnswers', $form);
            },

            linksSaver:function(link){
                this.gatheredLinks.push({url:link});
            }
        }
    };
</script>