<style type="text/css">
    .my-wallet p {
        font-size: small;
    }

    .red {
        color: #ff0000;
    }

    .my-wallet-title {
        font-weight: 900;
        margin-top: 3px;
        padding-right: 10%;
    }
</style>
<template>
    <section class="animated" transition="fade" v-if="show">
    <div class="well breakdown">
        <div class="well-action text-right">
            <a @click="closeRedeem" ><i class="fa fa-times-circle-o fa-2x closer" aria-hidden="true"></i></a>
        </div>
        <div class="row my-wallet">
            <div class="col-md-6">
                <p><i class="fa fa-asterisk red"></i> Accumulated - Earnings paid by Engage IQ</p>
                <p><i class="fa fa-asterisk red"></i> Paid - Amount paid by Engage IQ</p>
                <p><i class="fa fa-asterisk red"></i> Posted - Gathered offer amounts sent to the sponsors</p>
            </div>
            <div class="col-md-6">
                <h3 class="my-wallet-title text-right">MY WALLET</h3>
                <table class="table pull-right">
                    <tr>
                        <td><strong>Accumulated:</strong></td>
                        <td class="text-right">{{ user.money_hpcs + user.money_challenge + user.money_hpcs_linkout | currency }}</td>
                    </tr>
                    <tr>
                        <td><strong>Paid:</strong></td>
                        <td class="text-right">{{ user.money_hpcs_paid + user.money_challenge_paid + user.money_hpcs_linkout_paid | currency }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Posted:</strong>
                            <p><i>(Also include pending offers)</i></p>
                        </td>
                        <td class="text-right">{{ user.money_offers | currency }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!-- tabs left -->
                <div class="tabbable tabs-left hidden-xs hidden-sm">
                    <ul class="nav nav-tabs">
                        <li :class="selected=='hpcs'?'active':''">
                            <a href="#a" @click="selected='hpcs'" data-toggle="tab">High Paying Cash Surveys:</a>
                        </li>
                        <li :class="selected=='challenge'?'active':''">
                            <a href="#c" @click="selected='challenge'" data-toggle="tab">30 Day Challenge:</a>
                        </li>
                        <li :class="selected=='sponsors'?'active':''">
                            <a href="#b" @click="selected='sponsors'"  data-toggle="tab">Our Sponsors:</a>
                        </li>
                        <li :class="selected=='freebies'?'active':''">
                            <a href="#d" @click="selected='freebies'" data-toggle="tab">Freebies:</a>
                        </li>
                    </ul>
                </div>
                <div class="hidden-md hidden-lg" style="margin-bottom: 5%;">
                    <ul class="nav nav-pills">
                        <li :class="selected=='hpcs'?'active':''">
                            <a href="#a" @click="selected='hpcs'" data-toggle="tab">HPCS</a>
                        </li>
                        <li :class="selected=='challenge'?'active':''">
                            <a href="#c" @click="selected='challenge'" data-toggle="tab">30 Day Challenge</a>
                        </li>
                        <li :class="selected=='sponsors'?'active':''">
                            <a href="#b" @click="selected='sponsors'"  data-toggle="tab">Sponsors</a>
                        </li>
                        <li :class="selected=='freebies'?'active':''">
                            <a href="#d" @click="selected='freebies'" data-toggle="tab">Freebies</a>
                        </li>
                    </ul>
                </div>
            <!-- /tabs -->
            </div>
            <div class="col-xs-12 col-md-8">
                <hpcs v-show="selected=='hpcs'" :user="user"></hpcs>
                <sponsors v-show="selected=='sponsors'" :user="user"></sponsors>
                <challenge v-show="selected=='challenge'" :user="user"></challenge>
                <freebies v-show="selected=='freebies'" :user="user" :freebies="freebies"></freebies>
            </div>
        </div>
    </section>
</template>
<script type="text/ecmascript-6">
    import Freebies from './Redeem/Freebies.vue';
    import Hpcs from './Redeem/Hpcs.vue';
    import Challenge from './Redeem/Challenge.vue';
    import Sponsors from './Redeem/Sponsors.vue';
    import Active from './mixins/Active.vue';
    export default{
        components: { Freebies, Hpcs, Challenge,Sponsors},
        mixins: [Active],
        props: ['user','activeList','condition', 'freebies','offerTotalApproved'],
        data () {
            return {
                selected: 'hpcs',
                windowName: 'redeem',
                total : 0,
                hpcsTotal: 0,
                challengeTotal: 0,
            }
        },
        methods : {
            redeem (e) {
                if (this.user && this.user.registered) {
                    return;
                }
                this.$dispatch('closeModal');
                this.$dispatch('openModal', 'register');
            },
            accumulated(offers,hpcs,challenge){
                return parseFloat(hpcs)+parseFloat(offers)+parseFloat(challenge);
            },

            closeRedeem(){
                this.$dispatch('closeModal');
            }
        },

        watch : {
            activeList(){
                this.selected = this.activeList;
            },
            user : function () {
                this.test = this.user;
            }
        },

        filters : {
            status (val) {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/approved.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
            },
            description (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Approved';
                }
                if(val == 2) {
                    return 'Disapproved'
                }
            },
            date (val) {
                return  moment(val).format('MM/DD/YYYY');
            }
        }
    }
</script>
