<style>
    .qs {
        border-radius: 16px;
        cursor: pointer;
        display: inline-block;
        /*font-family: 'Helvetica',sans-serif;*/
        /*font-size: 18px;*/
        /*font-weight: bold;*/
        height: 30px;
        /*line-height: 30px;*/
        position: relative;
        text-align: center;
        width: 30px;
    }
    .qs .popout {
        /*background-color: rgba(0, 0, 0, 0.85);*/
        background-color: #cccccc;
        color: #000000;
        border-radius: 5px;
        bottom: 42px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        /*color: #fff;*/
        display: none;
        font-size: 12px;
        /*font-family: 'Helvetica',sans-serif;*/
        left: -85px;
        padding: 0px 10px;
        position: absolute;
        width: 200px;
        z-index: 4;
        top: 100%;
        margin: 5px;
    }
    .qs .popout:before {
        border-bottom: 7px solid rgba(0, 0, 0, 0.85);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        top: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
    }
    .qs:hover .popout {
        display: block;
        height: inherit;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
    }

    @-webkit-keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-ms-keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes move-up {
        from {
            bottom: 30px;
        }
        to {
            bottom: 42px;
        }
    }
    @-moz-keyframes move-up {
        from {
            bottom: 30px;
        }
        to {
            bottom: 42px;
        }
    }
    @-ms-keyframes move-up {
        from {
            bottom: 30px;
        }
        to {
            bottom: 42px;
        }
    }
    .custom-back-arrow-survey {
        display: none;
        margin: 64px 0 10px;
    }
    .custom-back-arrow-survey img {
        width: 100%;
        max-width: 50px;
    }

    @media screen and ( max-width: 767px ) {
        .custom-back-arrow-survey {
            display: block;
        }
        .custom-back-arrow-survey .back-arrow-text {
            font-size: 15px;
        }
    }
</style>

<template>
    <section>
    <div class="container">
        <heading :user="user" :freebies-count="freebiesCount" :options="options"></heading>

        <div class="row main-content" v-if="options.setup=='normal'">
            <div class="col-md-7 col-sm-7 col-xs-12 hpcs-main">
                <div class="row main-content_control" v-show="user && active=='questions' || active=='questions-challenge' || active=='done' || active=='alert' || active=='localsurveys'">
                    <div class="col-xs-4 col-md-3">
                        <button @click="changePageBackAndForward(user.current_page_level-1,'backward')" :disabled="!user || pushState==true || user.current_page_level<=1" class="btn btn-primary form-control" title="Back to previous questions" style="display:block;"><i class="fa fa-backward" aria-hidden="true" ></i> <span class="hidden-xs"> Back </span> </button>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <h4 v-show="pushState" class="text-center" style="color:#129346;">  <span class="hidden-xs hidden-sm">Fetching Questions</span> <i v-show="pushState" class="fa fa-spinner fa-spin"></i></h4>
                    </div>

                    <div class="col-xs-4 col-md-3">
                        <button @click="changePageBackAndForward(user.current_page_level+1,'forward')" :disabled="!user || pushState==true || user.current_page_level==user.max_page_level || active=='localsurveys'" class="btn btn-primary form-control" title="Forward to next questions" style="display: block;"><span class="hidden-xs">Forward</span> <i class="fa fa-forward" aria-hidden="true"></i></button>
                    </div>
                </div>
                <Contact :active="active"></Contact>
                <Feedback :user="user" :active="active"></Feedback>
                <Surveys :user="user" :active="active" :main="main" :prepop="prepop" :options="options" ></Surveys>
                <Redeem :user="user" :active="active" :active-list="activeList" :freebies="freebies"></Redeem>
                <Register :user="user" :active="active" :prepop="prepop"></Register>
                <Details :user="user" :active="active"></Details>
                <Done :active="active" :main="main" :user="user"></Done>
                <Alert :active="active" :main="main" :user="user"></Alert>
                <div class="spacer hidden-sm hidden-xs"></div>
                <Questions-Challenge :hpcs="hpcs" :questions="questions" :user="user" :active="active" :main="main" @submit-answers="submitForm(form)" ></Questions-Challenge>
                <Congratulation :active="active" :main="main"></Congratulation>
                <Questions :prepop="prepop" :device="device" :status="pushState" :hpcs="hpcs" :questions="questions" :user="user" :active="active" :main="main"></Questions>

            </div><!--end col-md-6 -->
            <!-- <div class="spacer-mini visible-xs"></div> -->
            <div class="col-md-4 col-sm-4 col-xs-12 pull-right sidebar-one">
                <challenge :user="user">
                </challenge>
            </div>
        </div>

        <!--COUNTERPART-->
        <div class="row main-content" v-else>
            <div class="visible-xs" style="height: 80px"></div>
            <div class="col-xs-12">
                <a v-if="options.link" :href="urlOrigin" class="custom-back-arrow-survey">
                    <img src="/images/back-arrow.png">
                    <span class="back-arrow-text">Back to HPCS Main site</span>
                </a>
                <iframe :src="options.link" frameborder="0" style="height: 1000px; width: 100%"></iframe>
            </div>
        </div>

    </div>
    <Footing v-if="options.setup=='normal'"> </Footing>
    <Footingxs v-if="options.setup=='normal'"> </Footingxs>
    </section>
</template>

<script type="text/javascript">
    import Questions from './Questions.vue';
    import QuestionsChallenge from './QuestionsChallenge.vue';
    import Heading from './Header.vue';
    import Challenge from './Challenge.vue';
    import Congratulation from './Congratulation.vue';
    import Done from './Done.vue';
    import Alert from './Alert.vue';
    import Register from './Register.vue';
    import Redeem from './Redeem.vue';
    import Surveys from './LocalSurveys.vue';
    import Footing from './Footer.vue';
    import Footingxs from './FooterMobile.vue';
    import Contact from './Footer/Contact.vue';
    import Feedback from './Footer/Feedback.vue';
    import Details from './Details.vue';

    export default {
        props : ['device','prepop','options'],
        data() {
            return {
                hpcs: null,
                user: [],
                questions: null,
                coreg: null,
                loading: false,
                active: '',
                activeList : null,
                main: '',
                freebies : null,
                freebiesCount : 0,
                offerTotalApproved : 0,
                offerTotalNotApproved : 0,
                readyState : true,
                url : null,
                pastUrl : null,
                pushState : false,
                pageLevel : null,
                allowChangeState : true,
                questionCounter : 0,
                gaActive : false,
                enterActive : true,
            };
        },
        components: {
            Heading,
            Questions,
            QuestionsChallenge,
            Challenge,
            Congratulation,
            Done,
            Details,
            Alert,
            Register,
            Redeem,
            Surveys,
            Footing,
            Footingxs,
            Contact,
            Feedback
        },
        computed: {
            validForSurvey() {
                if(!this.user) return false;
                return this.user && !this.user.last_challenge || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;

//                if(!this.user) return false;
//                return this.user.challenge_designation < 31 || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;
            },
             urlOrigin()
            {
                return window.location.origin;
            }
        },
        beforeCompile() {
            this.fetchUserData();
        },

        ready()
        {
            let self = this;
            $('#bodyOnClick').bind('keyup', function(event) {

                if(self.enterActive)
                {
                    if(event.keyCode==13 && self.active=='questions' && self.readyState==true)
                    {
                        self.$broadcast('submitQuestions');
                    }
                    else  if(event.keyCode==13 && self.active=='congratulations' && self.readyState==true)
                    {
                        self.$broadcast('requestSurveyChild');
                    }
                    else  if(event.keyCode==13 && self.active=='questions-challenge' && self.readyState==true)
                    {
                        self.$broadcast('submitQuestionsChild');
                    }
                    else  if(event.keyCode==13 && self.active=='register' && self.readyState==true)
                    {
                        self.$broadcast('registerChild');
                    }
                }

            });

            this.readyStateJquery();

            $('#login-modal').on('show.bs.modal', function () {
                self.enterActive = false;
            });

            $('#login-modal').on('hidden.bs.modal', function () {
                self.enterActive = true;
            });
        },

        methods: {

            checkValidForSurvey() {

                if(!this.user) return false;
                return this.user && !this.user.last_challenge || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;

//                if(!this.user) return false;
//                return  || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0 || this.user.can_challenge == 2 || ;
            },

            changePageBackAndForward(level,operation){

                var self = this;
                self.pushState = true;

                var last_questions = self.questions;

                if(level==9 && operation=='forward')
                {
                    this.active = 'localsurveys';
                    this.main = 'localsurveys';
                    this.user.current_page_level = level;
                    this.pushState = false;
                    return false;
                }

                else if(level==8 && operation=='forward')
                {
                    self.hpcs= null;
                    self.questions = null;

                    if(this.validForSurvey)
                    {
                        self.active = 'questions-challenge';
                        self.main = 'questions-challenge';

                    }
                    else
                    {
                        self.active = 'localsurveys';
                        self.main = 'localsurveys';
                        self.user.current_page_level = 9;
                        self.pushState = false;

                        return false;
                    }

                    self.getUserInformation(level,operation);

                    self.$nextTick(function () {
                        self.user.current_page_level = level;

                        return false;
                    });

                }

                else if(level==8 && operation=='backward')
                {
                    self.hpcs= null;
                    self.questions = null;

                        if(this.validForSurvey && this.user.challenge_designation <31)
                        {
                            self.active = 'questions-challenge';
                            self.main = 'questions-challenge';
                        }
                        else
                        {
                            self.active = 'questions';
                            self.main = 'questions';
                            level--;
                        }


                    self.$nextTick(function () {
                        self.getUserInformation(level,operation);
                        self.$nextTick(function () {
                            self.user.current_page_level = level;
                            return false;
                        });
                    });


                }

                else if(level==7 && operation=='backward')
                {
                    self.hpcs= null;
                    self.questions = null;
                    self.active = 'questions';
                    self.main = 'questions';

                    self.getUserInformation(level,operation);
                }

                else {
                    self.hpcs= null;
                    self.questions = null;
                    self.active = 'questions';
                    self.main = 'questions';
                    self.getUserInformation(level,operation);
                }
            },

            getUserInformation(level,operation){
                var self = this;
                $.get('/user/adjust',{ level : level, operation : operation },function(response){
                    self.hpcs= response.hpcs;
                    self.questions = response.questions;
                    self.user= response.user;


                    if(self.user.current_page_level==8 && self.user.challenge_designation>30)
                    {
                        self.user.current_page_level=9;
                        self.active = 'localsurveys';
                        self.main = 'localsurveys';
                        self.refreshIcheck();
                        return true;
                    }

                    if(level!=self.user.current_page_level)
                    {
                        if (self.user.can_challenge)
                        {
                            self.active = 'questions-challenge';
                            self.main = 'questions-challenge';
                        }
                        else {
                            self.active = 'questions';
                            self.main = 'questions';
                        }
                    }
                    self.refreshIcheck();
                });
            },


            getHashValue(url,key) {
                var matches = location.hash.match(new RegExp(key+'=([^&]*)'));
                return matches ? matches[1] : null;
            },
//
            readyStateJquery(){
                var self = this;

                $("html, body").animate({scrollTop: 0}, 100);

                window.onpopstate = function (event) {
//                    self.allowChangeState = false;
//                    self.url = location.href;
                }

            },
//
            hashBangSetter()
            {
                var self = this;
                var current_page = 1;
                var max_page = 0;

            },


            fetchUserData()
            {
                $.get('/user-data',  ({hpcs,user,questions,coreg}) => {
                    this.hpcs= hpcs;
                    this.user= user;
                    this.questions= questions;
                    this.coreg= coreg;

                    this.setActiveWindow();
                    this.refreshIcheck();
                });
            },

            setActiveWindow()
            {
                var self = this;

                if(!this.user)
                {
                    hj('trigger', 'hpcs_page_1');
                    ga('send', 'pageview');
                }

                if(!this.user || ! this.user.can_challenge)
                {
                    this.active = 'questions';
                    this.main = 'questions';
                    return;
                }

                if(this.user && this.validForSurvey && this.user.challenge_designation <31)
                {
                    this.getFirstDayChallenge();
                    return;
                }

                this.user.current_page_level = 9;
                this.active = 'localsurveys';
                this.main = 'localsurveys';

                self.$nextTick(function(){
                    self.allowChangeState = true;
                });
            },
            loadingOff () {
                this.loading = false;
                this.refreshIcheck();
                this.$broadcast('loadingOff');

                if(this.user && this.user.max_page_level > 3)
                {
                    new Audio('/audio/register.mp3').play();
                }

                $("html, body").animate({scrollTop: 0}, 600);
            },
            refreshIcheck() {

                var self = this;

                this.$nextTick(function () {
                    $('.questions-yes').icheck({
                        radioClass: ' iradio_square-green',
                        area: '20%' // optional
                    });

                    $('.questions-no').icheck({
                        radioClass: ' iradio_square-red',
                        area: '20%' // optional
                    });
                    self.pushState = false;
                })
            },
            submitForm($form) {
                var self = this;
                this.loading = true;
                var bypass = false;
                this.pushState = false;

                var code = 0;
                var qlength = this.questions.length;

                var current_page = 0;
                var analytics = false;

                if(this.user)
                {
                     analytics = (this.user.current_page_level == this.user.max_page_level);
                }
                else {
                    analytics = true;
                }

                $.post($form.attr('action'),  $form.serialize()+'&qlength='+qlength, ({user, questions, hpcs, code}) => {
                    this.$broadcast('new-questions');

                    this.readyState = true;
                    this.user = user;
                    this.pushState = false;

                    this.sendAnalytics(analytics);

                    if(this.active=='questions-challenge')
                    {

                        this.active = 'localsurveys';
                        this.main = 'localsurveys';

//                        this.active ='done';
//                        this.main = 'done';
                        return;
                    }

                    if(this.active=='questions' &&  this.user && this.user.can_challenge)
                    {
                        bypass = true;

                        if(this.user.challenge_designation>30)
                        {
                            this.user.current_page_level = 9;
                            this.active = 'localsurveys';
                            this.main = 'localsurveys';
                            this.loadingOff();
                            return;
                        }

                        this.getFirstDayChallenge();
//                        this.active ='questions-challenge';
//                        this.main = 'questions-challenge';
                        return;
                    }

                    if(code==200)
                    {
                        this.active ='congratulations';
                        this.main = 'congratulations';
                        return;
                    }

                    this.active = '';

                    if(bypass==false) {
                        setTimeout(() => {
                            this.hpcs = hpcs;
                            this.questions = questions;
                            this.active = 'questions';
                            this.main = 'questions';
                            this.refreshIcheck();
                        }, 250);
                    }
                }).done(() => {
                    if(bypass==false)
                    {
                        self.loadingOff();
                    }
                    self.allowChangeState = true;
                }).error(function (response) {

                    if(response.status==422)
                    {
                        console.log('Please check fields')
                    }
                    self.loading = false;
                    self.readyState = true;
                }).fail(function(xhr, status, error) {
                    self.loading = false;
                });

            },

            sendAnalytics(analytics){
                if(this.user.current_page_level == this.user.max_page_level && analytics)
                {
                    if(this.user.current_page_level==2)
                    {
                        hj('trigger', 'hpcs_page_2');
                        ga('set', 'page', '/p=1');
                        ga('send', 'pageview');
                    }
                    else if(this.user.current_page_level==3)
                    {
                        hj('trigger', 'hpcs_page_3');
                        ga('set', 'page', '/p=2');
                        ga('send', 'pageview');
                    }
                    else if(this.user.current_page_level==4)
                    {
                        hj('trigger', 'hpcs_page_4');
                        ga('set', 'page', '/p=3');
                        ga('send', 'pageview');
                    }
                    else if(this.user.current_page_level==5)
                    {
                        hj('trigger', 'hpcs_page_5');
                        ga('set', 'page', '/p=4');
                        ga('send', 'pageview');
                    }
                    else if(this.user.current_page_level==6)
                    {
                        hj('trigger', 'hpcs_page_6');
                        ga('set', 'page', '/p=5');
                        ga('send', 'pageview');
                    }
                    else if(this.user.current_page_level==7)
                    {
                        hj('trigger', 'hpcs_page_7');
                        ga('set', 'page', '/p=6');
                        ga('send', 'pageview');
                    }
                    else if(this.user.current_page_level==8)
                    {
                        ga('set', 'page', '/p=7');
                        ga('send', 'pageview');
                    }
                }
            },

            myFreebies(){

                let freebies = this.freebies;

                var count = 0;
                for (var i in freebies) {
//                    this.freebiesTotal = parseInt(this.freebiesTotal) + parseInt(freebies[i].cash);
                    count++;
                }

                if(count>0)
                {
                    this.freebiesCount = count;
                }
            },

            getFirstDayChallenge(){

                if(this.validForSurvey)
                {
                    $.get('/challenge', ({user, questions, hpcs}) => {
                        this.questions = questions;
                    this.user = user;
                    this.hpcs = hpcs;
                    this.active = 'questions-challenge';
                    this.main = 'questions-challenge';
                }).done(() => {
                    this.loadingOff();
                }).error(function (data) {
                    alert('error!');
                });

                }
                else
                {
                    this.active = 'localsurveys';
                    this.main = 'localsurveys';
                    this.loadingOff();
                }


            },

            facebookReward(response) {
                let self = this;

                console.log(response);

                $.post('/facebook/bonus',function (user) {
                    new Audio('/audio/register.mp3').play();
                    self.user = user;
                });
            }
        },

        watch : {

        },
        events: {
            showMobilewallet() {
                this.$broadcast('showMobileheader');
            },
            requestSurvey() {

                this.readyState = false;
                $.get('/challenge', ({user, questions, hpcs}) => {
                    this.questions = questions;
                    this.user = user;
                    this.hpcs = hpcs;
                    this.readyState = true;
                    this.active = 'questions-challenge';
                    this.main = 'questions-challenge';
                }).done(() => {
                    this.loadingOff();
                }).error(function (data) {
                    alert('You already take the challenge. Please comeback tommorow!');
                    this.readyState = true;
                });
            },

            register($form) {a
                this.submitForm($form);
            },

            submitAnswers($form) {
                this.submitForm($form);
            },

            changeWindow(window) { //use this for main windows with no close buttons
                this.active = window;
                this.main = window;
                $("html, body").animate({scrollTop: 20}, 100);
            },

            openModal(modal) { //use this to open modal with close buttons not a main window
                $("html, body").animate({scrollTop: 20}, 100);
                this.active = modal;
            },

            activeList(activeList) { //use this to open modal with close buttons not a main window
                this.activeList = activeList;
            },

            closeModal() {
                this.active = this.main;
            },

            adjustFreebies(count) {
                this.freebiesCount = count;
            },

            renewUser(user,is_hpcs) {
                if(is_hpcs==1)
                {
                    new Audio('/audio/register.mp3').play();
                }
                this.user = user;
            },

            buzzerFake() {
                new Audio('/audio/register.mp3').play();
            },

            loginModal()
            {
                $('#login-modal').modal('show');
            },

            registrationOn(){

            },
            registrationOff(){

            },

            twentyFiveAdd()
            {
                this.$broadcast('twentyFiveAddHeader');
            },

            facebookListener(response) {
                this.facebookReward(response);
            }


        }
    };

</script>
