<template>
	<table class="table text-left">
      <tbody>
        <tr>
          <td><strong>Accumulated:</strong> <br/>(<i>Pending Included</i>)</td>
          <td>{{earnings}}</td>
        </tr>
      </tbody>
    </table>
</template>
<script>
	export default{
		props: ['user']
	}
</script>