<template>
    <aside>
        <div v-if="user" class="challenge animated" v-show="user && user.can_challenge" transition="fade">
            <div class="panel panel-default">
                <div class="panel-heading text-center">30 Day Challenge</div>
                <div class="panel-body">
                    <div class="day-container">
                        <div :class="{
                                        'done' : n+1 < user.challenge_designation,
                                        'active':  n+1 == user.challenge_designation && validForSurvey && n+1 > 1,
                                        'ongoing': n+1 >= user.challenge_designation
                                    }"
                             v-for="n in 30"
                            @click="requestSurvey(n+1)"
                        >
                            <div class="la-ball-fall la-white la-sm small-ball" v-show="loading && n==active-1">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <span v-else>$1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bonus" v-show="user && user.can_challenge">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Bonus task</div>
                <div class="panel-body">
                    <div class="social-container">
                        <div class="text-center">
                            <a href="" title="twitter"><img src="/images/icons/twitter.png" alt="twitter"></a>
                            <a href="" title="youtube"><img src="/images/icons/youtube.png" alt="youtube"></a>
                            <a href="" title="facebook"><img src="/images/icons/facebook.png" alt="facebook"></a>
                            <a href="" title="linkedin"><img src="/images/icons/linkedin.png" alt="linkedin"></a>
                            <a href="" title="pinterest"><img src="/images/icons/pinterest.png" alt="pinterest"></a>
                            <a href="" title="flickr"><img src="/images/icons/flickr.png" alt="flickr"></a>
                            <a href="" title="share"><img src="/images/icons/share.png" alt="share"></a>
                            <a href="" title="rss"><img src="/images/icons/rss.png" alt="rss"></a>
                            <p>like us on facebook and get $1!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-show="!user || ! user.can_challenge">
            <div class="col-xs-6 hidden-sm hidden-lg">
                <img src="/images/promise.png" class="mobile-promise" alt="logo"> <!-- show only on mobile -->
            </div>
            <div class="col-xs-6 col-md-12 hidden-xs hidden-md">
                <img src="/images/promise.png" class="large-promise" alt="logo"> <!-- show only on large screen -->
            </div>
            <div class="col-xs-6 col-md-12">
                <!-- Description -->
                <div class="illustration">
                    <p>
                        Go through the 30 Day Challenge. See how simple it is to make $30 by giving your opinions? If, after
                        30 days, you are unsatisfied with the results, send us an email. Explain why our simple process failed to meet'
                        our expectations and we'll pay you $10.
                    </p>
                </div>
            </div>
        </div>

    </aside>
</template>
<script>
    export default{
        props: ['user'],
        data () {
            return {
                active: 0,
                loading:false
            }
        },
        computed: {
            validForSurvey() {
                return !this.user.last_challenge || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;
            }
        },
        methods: {
            requestSurvey(day) {
                if (this.active==day) {
                    return;
                }

                if(day==2 && !this.user.registered && this.validForSurvey)
                {
                    this.$dispatch('needs-register');
                    return;
                }

                if(day==this.user.challenge_designation && this.validForSurvey)
                {
                    this.loading=true;
                    this.active = day;
                    this.$dispatch('request-survey');
                }
            }
        },
        events: {
            'loading-off' : function () {
                this.loading = false;
            }
        }
    }
</script>
