<template>
   <section v-if="user && user.challenge_notification && user.can_challenge && !hpcs && show" class="animated" transition="fade">
       <h1 class="text-center title">Congratulations! You Have Started Your 30 - Day Challenge!</h1>
       <div class="spacer"></div>
       <div class="row">
           <p class="text-center move-up-large">Think of this survey as a game. Here are the rules:</p>
           <div class="option-set">
               <div class="row">
                   <p>&ndash; Complete a quick, easy survey daily, for 30 days. You'll earn $1 per day - that's $30 total!</p>
                   <p>&ndash; If you miss a day, You'll miss your dollar for that day. Never Fear&mdash;you can earn your dollar when you come back and take a survey! Take your next survey as soon as you come back and you'll get your next dollar. That means you can earn $30 in 30 days...or you can stretch it out over a long period of time if you want to.</p>
                   <p>&ndash; Track your progress on the calendar!</p>
               </div>
           </div>
           <div class="text-center">
               <img src="/images/unlock.png" class="img-responsive center-block lock"  alt="unlock">
               <button type="button"
                       class="btn btn-primary submit"
                       :class="{'submitting' : loading}"
                       @click="requestSurvey"
                       :disabled="loading"
               >
                   <span v-show="! loading">NEXT</span>
                   <div class="la-ball-fall-2" v-show="loading">
                       <div></div>
                       <div></div>
                       <div></div>
                   </div>
               </button>
           </div>
       </div>
   </section>
</template>
<script>
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['user','hpcs'],
        data () {
            return {
                loading: false,
                windowName: 'congratulations'
            }
        },
        methods: {
            requestSurvey() {
                this.loading = true;
                this.$dispatch('request-survey');
            }
        }
    }
</script>