<template>
   <section v-if="user && !user.challenge_notification && user.can_challenge && !hpcs && user.challenge_designation > 1 && !validForSurvey && show" class="animated" transition="fade">
       <h1 class="text-center title">Come back tomorrow for more!</h1>
       <div class="spacer"></div>
       <div class="row">
           <p class="text-center move-up-large">You have almounted completed your challenge for today.</p>
           <div class="option-set">
               <div class="row">
                   <p>&ndash; Complete a quick, easy survey daily, for 30 days. You'll earn $1 per day - that's $30 total!</p>
                   <p>&ndash; If you miss a day, You'll miss your dollar for that day. Never Fear&mdash;you can earn your dollar when you come back and take a survey! Take your next survey as soon as you come back and you'll get your next dollar. That means you can earn $30 in 30 days...or you can stretch it out over a long period of time if you want to.</p>
                   <p>&ndash; Track your progress on the calendar!</p>
               </div>
               <local-button :user="user"></local-button>
           </div>
       </div>
   </section>
</template>
<script>
    import LocalButton from './LocalButton.vue';
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['user', 'hpcs'],
        components: {LocalButton},
        data () {
            return {
                show: false,
                windowName: 'done'
            }
        },
        computed: {
            validForSurvey() {
                return !this.user.last_challenge || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;
            }
        }
    }
</script>