<template>
    <footer class="footer hidden-xs"> <!-- hidden when in mobile -->
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:;" @click.prevent="displayContact">Contact Us</a></li>
                <li>
                    <terms></terms>
                </li>
                <li>
                    <policy></policy>
                </li>
                <li><a href="javascript:;">Feedback</a></li>
                <li>
                    <faq></faq>
                </li>
            </ul>
        </div>
    </footer><!-- end /footer -->
</template>
<script>
    import Faq from './Footer/Faq.vue';
    import Policy from './Footer/Policy.vue';
    import Terms from './Footer/Terms.vue';

    export default{
        components: {Faq,Policy,Terms},
        methods: {
            displayContact() {
                this.$dispatch('display-contact');
            }
        },
        events : {
          'show-accordion' (name) {
              this.$broadcast('show-accordion', name);
          }
        }
    }
</script>