<template>
    <header>
        <div class="row logo-container">
            <div class="col-md-8 hidden-xs hidden-sm"><img src="/images/logo.png" class="img-responsive"  alt="logo"></div>
            <div class="col-md-4 earnings">
                <div class="row text-center earnings-info">
                    <div class="row">
                        <div class="col-xs-12 current-earnings">Current Earnings</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row row-eq-height">
                                <div class="col-xs-6 survey-earnings" @click="requestPayment">
                                    <h5>High Paying Cash Surveys</h5>
                                    <span class="money" v-if="user && user.hpcs > 0">{{ user.hpcs | currency}}</span>
                                    <span class="money" v-else>$0.00</span>
                                </div>
                                <div class="col-xs-6 survey-earnings" @click="requestPayment">
                                    <h5>30 Day Challenge</h5>
                                    <span class="money" v-if="user && user.challenge > 0">{{ user.challenge | currency}}</span>
                                    <span class="money" v-else>$0.00</span>
                                </div>
                            </div>
                            <div @click="requestPayment" class="row row-redeem" v-bind:class="{'glow-money' : showGlow}">
                                <div class="col-xs-12">
                                    <h5 >Redeem</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row visit-redeem">
                                <h5>Click here for more details</h5>
                            </div>
                            <div class="row row-eq-height">
                                <div class="col-xs-6 survey-extra" @click="requestPayment">
                                    <h5>FROM OUR SPONSORS</h5>
                                    <span class="money-extra" v-if="user && user.sponsors > 1">{{ user.sponsors | currency}}</span>
                                    <span class="money-extra" v-else>$0.00</span>
                                </div>
                                <div class="col-xs-6 survey-extra" @click="requestPayment">
                                    <h5>FREEBIES</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row text-center -->
            </div>
            <div class="col-md-12 hidden-xs hidden-sm no-padding-right move-up">
                <hr class="thin-hr">
            </div>
        </div>
        <div class="row hidden-xs hidden-sm">
            <hr class="thick-hr">
        </div>
    </header>
</template>
<script>
    export default{
        props: ['user'],
        computed : {
            showGlow() {
                return !! this.user && this.user.can_challenge && !this.user.registered;
            }
        },
        methods : {
            requestPayment() {
                if(!this.user)
                {
                    swal('Zero earnings.', 'Answer the surveys to start earning!','warning');
                    return;
                }

                this.$dispatch('changeWindow','redeem');
            }
        }
    }
</script>