<template>
       <div class="Local__div text-center" v-show="user">
            <button @click="showLocal" class="btn btn-primary Local__button">Find Local Surveys</button>
       </div>
</template>
<script>
    export default{
        props: ['user'],
        methods: {
            showLocal() {
                this.$dispatch('show-local');
            }
        }
    }
</script>
<style>
    .Local__div {
        margin-top: 25px
    }
</style>