<template>
    <div class="modal-dialog login-modal animated" :class="{'shake':shake}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="/images/logo.png" alt="hpcs-logo" class="img-responsive"></h4>
            </div>
            <div class="modal-body">
                <validator name="login">
                    <p class="error-login animated" transition="wobble" v-if="$login.email.dirty && $login.password.dirty && ! $login.valid ">Email and password is required.</p>
                    <p class="error-login animated" transition="wobble" v-if="notFound">Invalid credentials.</p>
                    <p class="error-login animated" transition="wobble" v-if="serverError">Server error.</p>
                    <form action="/login" method="POST" id="form-login" novalidate autocomplete="off">
                        <div class="spacer-mini"></div>
                        <div class="form-group"
                             :class="{
                                'has-error': $login.email.dirty && $login.email.invalid
                            }"
                        >
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   placeholder="email"
                                   v-validate:email="{required:true,email:true}"
                            >
                        </div>
                        <div class="form-group"
                             :class="{
                                'has-error': $login.password.dirty && $login.password.invalid
                            }"
                        >
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   v-model="password"
                                   placeholder="password"
                                   v-validate:password="{required:true}"
                            >
                        </div>
                        <button class="btn btn-primary btn-block"
                                class="btn btn-primary submit"
                                :class="{'submitting' : loading}"
                                @click.prevent="login"
                                :disabled="loading || ! $login.valid"
                        >
                            <span v-show="! loading">Log In</span>
                            <div class="la-ball-fall-2" v-show="loading">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                        <br>
            </div>
            </form>
            </validator>
            </div>
        </div>
</template>
<script>
    export default{
        data(){
            return{
                loading: false,
                notFound:false,
                serverError:false,
                password:'',
                shake: false
            }
        },
        methods: {
            login () {
                let $form = $('#form-login');
                this.loading=true;
                $.post($form.attr('action'),$form.serialize())
                        .success(() =>
                                {
                                    window.location.reload();
                                })
                        .fail((err) =>
                                {
                                    this.shake = true;
                                    setTimeout(() => { this.shake = false; }, 2000);

                                    this.password = '';
                                    this.$resetValidation(()=>{});
                                   if(err.status==404)
                                    {
                                        this.notFound=true;
                                        setTimeout(() => { this.notFound=false }, 5000);
                                        this.loading=false;
                                        this.serverError = false;
                                        return;
                                    }
                                    this.notFound=false;
                                    this.serverError = true;
                                    setTimeout(() => { this.serverError=false }, 5000);
                                    this.loading=false;
                                });
            }
        }
    }
</script>
<style>
    .error-login {
        color: red;
        padding: 2px;
        font-size: 85%;
        text-align: center;
    }
</style>