<template>
    <div v-if="hpcs && hpcs.challenge" class="v-cloak--hidden animated" transition="fade" v-show="show">
        <h1 class="{{ hpcs.header_big_class }} text-center title">{{ hpcs.header_big }}</h1>
        <div class="spacer"></div>
        <h2 class=" {{ hpcs.header_small_class }}  text-center move-up-large description">{{ hpcs.header_small
            }}</h2>
        <p v-if="hpcs.content" class="{{ hpcs.content_class }}">{{ hpcs.content }}</p>
        <div class="row">
            <h6 class="required-icon text-center"><i class="fa fa-asterisk"></i> Please answer all questions.</h6>
            <validator name="validation">
                <form action="/hpcs/answers" method="POST" novalidate>
                    <div class="option-set">
                        <div class="row">
                            <table class="table Questions__table">
                                <tr v-for="question in questions">
                                  <!--  <td width="7%">
                                        <img v-show="$validation['question'+question.id].valid"
                                             src="/images/checkbox.png"
                                             class="checkbox animated"
                                             transition="rubber"
                                        >
                                        <span v-show="! $validation['question'+question.id].valid"
                                              class="required-icon"><i class="fa fa-asterisk"></i></span>
                                    </td>-->
                                    <td >
                                        <div class="Question__title" v-show="!question.lead_reactor"><strong>{{question.title}}:</strong></div>
                                        <div class="Question__content" v-show="!question.lead_reactor">{{question.content}}</div>
                                        <img v-if="question.lead_reactor" :src="'/'+question.campaign.image" class="img-responsive" alt="campaign image">
                                    </td>
                                    <td v-if="! question.polar">
                                        <div class="input-group dollar-input"
                                             :class="{'has-success' : $validation['question'+question.id].valid, 'has-error' : $validation['question'+question.id].dirty && $validation['question'+question.id].invalid }">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" name="answers[]"
                                                   :field="'question' + question.id"
                                                   v-validate="{required:true}"
                                                   class="form-control"
                                                   min="1"
                                                   max="100"
                                                   step="1"
                                                   placeholder="?"
                                            >
                                        </div>
                                    </td>
                                    <td v-if="question.polar" >
                                        <div class="radio-div">
                                            <input type="radio"
                                                   :field="'question' + question.id"
                                                   v-validate="{required:true}"
                                                   name="answers[{{question.id}}]"
                                                   value="1"
                                                   class="questions-yes"
                                            > <span class="radio-label">Yes</span>
                                        </div>
                                    </td>
                                    <td v-if="question.polar" >
                                        <div class="radio-div">
                                            <input type="radio"
                                                   :field="'question' + question.id"
                                                   v-validate="{required:true}"
                                                   name="answers[{{question.id}}]"
                                                   value="0"
                                                   class="questions-no"
                                            > <span class="radio-label">No</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button"
                                class="btn btn-primary submit"
                                :class="{'submitting' : loading}"
                                @click="submitQuestions"
                                :disabled="loading || ! $validation.valid"
                        >
                            <span v-show="! loading">SUBMIT</span>
                            <div class="la-ball-fall-2" v-show="loading">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </div>
                </form>
            </validator>
        </div>
    </div>
</template>

<script type="text/babel">
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['questions','user','hpcs'],
        data() {
            return {
                loading: false,
                show: false,
                windowName: 'questions-challenge'
            }
        },
        methods: {
            submitQuestions (e) {
                let $form = $(e.target).closest('form');
                this.loading = true;
                this.$dispatch('submitAnswers', $form);
            }
        },
        events: {
            'loading-off' : function () {
                this.loading = false;
            },
            'new-questions' : function () {
                this.show = false;
            }
        }
    };
</script>

<style>
</style>