/**
 * Forms style
 */

//  Begin font styles
.blue-font {
  color: $blue-primary;
}

.gray-dark-font {
  color: $gray-dark-font;
}

.green-font {
  color: $green-font;
}

.title {
  font-weight: 700;
  font-size: 30px;
}

.head-title {
  font-size: 32px;
}

.subhead-title {
  font-size: 30px;
}

.description {
  font-weight: 600;
  font-size: 23px;
}

label {
  font-size: 1em !important;
}

.question {
  @extend .description;
  margin-bottom: -18px;
  margin-top: -14px;
}

.Question__container > img {
  height: 45%;
}

.heading {
  font-weight: 400;
  font-size: 27px;
}

.search-surveys-container {
  margin-left: -111px;
  margin-bottom: 100px;
}

.search-group 
  > input{
    background: $gray-background;
    border: none;
    border-radius: 3px 0 0 3px;
    height: 40px;
    width: 75%;
}

.searchzip-btn {
  background: $gray-dark-font;
  border: none;
  border-radius: 0 3px 3px 0;
  color: $white;
  height: 40px;
  padding: 9px;
  &:hover {
    background: $green-background;
  }
}

.searchzip-btn[disabled] {
  cursor: not-allowed;
  background: $gray-light-font;
  &:hover {
    background: $gray-light-font;
  }
}

.input-group-addon {
  border: none;
  background: $gray-background !important;
  color: $font;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  background: $gray-background;  
  height: 40px;
  padding-right: 30px;
}

.right-inner select {
  background: $gray-background; 
  height: 40px;
  line-height: 35px;
  margin-bottom: 2%;
}

.right-inner-addon i {
  padding: 10px 12px;
  pointer-events: none;
  position: absolute;
  right: 0px;
}

.progress-tracker {
  background: $blue-washed;
  border-radius: 0;
  height: 45px;
  padding: 5px;
}

.progress-bar {
  margin-left: 5px;
  border-radius: 10px;
}

.offer-container {
  border-radius: 0px !important;
  border: 1px solid $blue-primary;
  cursor: pointer;
  height: 46.4px;
  padding: 10px;
  color: #333;
  &:hover {
    // background: $blue-primary__hover;
  }
  .offer-name {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: inherit;
    padding-top: 1%;
  }
  .offer-description {
    font-size: 1.3rem;
    margin-bottom: inherit;
    padding-top: 1%;
  }
  .offer-button {
    text-transform: uppercase;
  }
}

.input-group-btn.input-space {
  padding-left: 2%;
}

.offer-text {
  margin-top: 10px;
  font-size: 1.3rem;
}

.offer-container__disabled {
  background: #CCCCCC;
  cursor: not-allowed;
  &:hover {
    background: #CCCCCC;
    cursor: not-allowed;
  }
  .offer-button {
    color: $white;
  }
}

button.btn.btn-default.offer-button.offer-button__challenge {
  margin: -10px -81px;
}

.offer-rating {
  display: inline;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 40px;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: $yellow;
 }

.vresize {
  resize: vertical; 
}

.required-icon {
  i {
    color: $red !important;
  }
}

.Question__container {
  padding-left: 5%;
}

.option {
  padding-right: 9% !important;
}

.radio-div {
  // width: 60px;
  width: 100px;
  text-align: center;
  // margin-top: 20%;
  margin-top: 5%;
}

span.radio-label {
  display: block;
  font-weight: 600;
  // margin-top: 35%;
  margin-top: 10%;
  text-transform: uppercase;
}

.option-yes {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 5% !important;
  vertical-align: middle !important;
}

.option-no {
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle !important;
  padding-left: 40px !important;
}

.earnings-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.heading-bordered {
  @extend .earnings-title;
  border: 3px solid $green-light;
  padding: 2px;
  background: $white;
}

.sponsors-content {
  @extend .heading-bordered;
  margin-top: -3px;
  text-transform: none;
  font-weight: 300;
  font-size: smaller;
  background: $white;
}

// End font styles

input[type="radio"] + label {
  float: left;
  margin-left: 10px;
}

.radio label {
  .checkbox label {
    padding-left: 10px;
  }
}

.checkbox {
  margin-top: auto;
  height: 25px;
}

.option-set {
  margin-top: 45px;
}

.table 
 > tbody
 > tr 
 > td {
  border: 0px;
/*   vertical-align: middle; */
  padding-bottom: 2%;
  padding-top: 2%;
}

.table.Question__table
  > tbody
  > tr 
  > td {
    vertical-align: middle !important;
  }

.question-desc {
  width: 300px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
  margin-right: -12px;
  height: 32px;
  -webkit-appearance: none;
}

.dollar-input {
  width: 115px;
  top: -7px;
  left: -5px;
}

.submit {
  padding: 15px 0 15px 0;
  width: 145px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10%;
  border: 1px solid $blue-border;
}

.contact-submit {
  margin-top: 5%;
}

.main-content_control {
  margin-bottom: 20px;
}

.submitting {
  background: lighten($blue-light, 15%) !important;
}

.lock {
  height: 150px;
  padding-bottom: 10px;
}

// Begin payment option style

.well.well-form {
  margin: 0 -8% 0 -8%;
  height: 700px;
}

.well-action {
  float: right;
}

button.btn.btn-default.selected {
  border: 1px solid $brand-primary !important;
  box-shadow: 0 0 5px;
}

.closer {
  position: absolute;
  border: 8px solid white;
  border-radius: 70%;
  top: -17px;
  color: $blue-primary;
  &:hover {
    cursor: pointer !important;
    color: $blue-primary__hover !important;
  }
}

button.btn.btn-default.payment-option {
  text-transform: uppercase;
  background: $green-background;
  color: $white;
  border-radius: 15px;
  &:hover {
    background: $green-dark-background;
  }
}

.btn-space {
  margin-right: 45px;
}

.date-picker select {
  display: inline-block;
}

.date-month {
  .date-day {
    width: 60px;
  }
}

.combo-date {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  height: 30px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: -10px; 
}

.separator { 
  height: 350px; 
  line-height: 333px;
  left: 4%;
}

.separator b {
  vertical-align: middle;
  display: inline-block;
}

.login-social {
  cursor: pointer;
}

.modal-header {
  background: $white !important;
  color: $white !important;
  border-radius: 5px;
}

.modal {
  text-align: center;
}

.login-modal {
  width: 20%;
}

.terms-modal >
.modal-dialog {
  width: 95%;
}

.btn-primary {
  background: $blue-primary;
  &:hover {
    backgound: $blue-primary__hover;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 95%;
}

.active-offer {
  background: $brand-primary;
  color: $white;
  &:hover {
    cursor: pointer;
  }
}

.fa-2x {
  background: $white;
}

.coreg-stripes{
  background: #E7ECFF;
}

.coreg-labels {
  font-size: 2rem;
}

td.Question__container.border-right {
  border-right: 1px solid white;
  line-height: 24px;
}

td.Sticker__container.border-left {
  border-left: 1px solid white;
  line-height: 24px;
}

img.coreg-sticker {
  // width: 150px;
  width: 100%;
  height: 90px;
}

.Question__title {
  font-size: 1.05em;
}

.thead-title {
  width: 30%;
}

.thead-currency {
  width: 20%;
}

.legends {
  font-size: 12px;
}

.legends-desc {
  padding-left: 10px;
  padding-top: 15px;
  p{
    line-height: 18px;
  }
}

.spacer-mini__small {
  margin-bottom: 7px;
}

.q-container {
  padding: 2% 0 2%;
  .border-right {
    border-right: 1px solid $white;
  }
  .q-desc {
    margin-bottom: 5%;
  }
  .Sticker__container {
    // margin-top: 2%;
    margin-top: 0.40rem;
  }
}

.radio-label__nonpolar {
  display: block;
  padding-top: 10%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  // font-size: 1em;
  font-size: 0.8em;
}

.radio-div__nonpolar {
  // width: inherit;
  text-align: center;
}

.btn.disabled, .btn[disabled] {
  box-shadow: none;
  background: #ccc !important;
  outline: none;
  border: 0;
  &:hover {
    background: #ccc !important;
  }
}

.non-coreg {
  padding: 3% 0 3% 0;
  border-bottom: 1px solid #babcbe;
}

textarea.has-error {
  border: 1px solid red !important;
}

button.btn.btn-primary.offer-button {
  font-weight: 700;
}

.q__25_gray, .q__25_green {
  display: table-cell;
  vertical-align: middle;
  padding-left: 25%;
}

.offer-container {
  height: 100% !important;
}