.thin-hr {
	background: $blue-primary;
	min-height: 2px;
	border-radius: 3px;
	border: 1px solid $blue-border;
}

.thick-hr {
	height: 10px;
	background: $blue-primary;
	border-radius: 15px;
	margin-top: 0px;
	border: 1px solid $blue-border;
}