/**
 * Navbar style
 */
.navbar .nav {
  text-transform: uppercase;
}

.navbar-default {
	background-color: $blue-primary !important;
}

.navbar-nav > li > a {
  padding-bottom: 0 !important;
  position: absolute;
}

.navbar-default .navbar-nav > li > a {
  color: $white !important;
  font-weight: 600 !important;
  &:hover {
  	color: $navbar-menu-hover !important;
  }
  &:focus {
	outline: 0;
  }
}

.nav > li > a {
	&:hover {
		color: $navbar-menu-hover !important;
		background-color: transparent !important;
	}
	&:focus {
		color: $navbar-menu-hover !important;
		background-color: transparent !important;
	}
}

.nav-pills > li > a:hover {
    background: #cccccc !important;
}