/**
 * Portlet icons
 */
.portlet > 
.portlet-title >
.tools >
	a.reload {
		background-image: url(../../images/admin/portlets/portlet-reload-icon.png) !important;
		
	}
	a.collapse {
		background-image: url(../../images/admin/portlets/portlet-collapse-icon.png) !important;
	}
	a.remove {
		background-image: url(../../images/admin/portlets/portlet-remove-icon.png) !important;
	}
	a.expand {
		background-image: url(../../images/admin/portlets/portlet-expand-icon.png) !important;
	}
