/**
 * Navbar Styles
 */

.page-header .navbar .search .form-control {
	background: $grey !important;
}

.page-header .navbar .navbar-nav li > a {
	&:hover {
		background: $blue !important;
	}
}

.page-header .navbar .navbar-nav li.open > a {
	background: $blue !important;
	color: $white !important;
}

.page-header .navbar .navbar-nav .dropdown-menu {
	background: $blue !important;
	> li > a {
		color: $white !important;
		&:hover {
			color: $grey !important;
		}
	> [class*=" fa-"] {
			color: $white !important;
		}
		&:hover {
			color: $grey !important;
		}
	}
}

a.terms {
	margin-top: 4px;
}

