//@media (orientation: landscape)
//and (max-width : 736px) {
//	.landscape {
//		background: #00CCFF;
//  		background-size:cover;
//  		display: block;
//    	z-index: 10000;
//	}
//}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.login-modal {
		width: 45%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {

	.survey-earnings h5 {
	    font-size: 0.90em;
	}

	.footer-xs {
		display: none;
	}

	.challenge, .bonus {
	    margin-top: 20%;
	    width: 100%;
	    padding-left: 0;
	}

	.large-promise, .illustration {
		margin-top: 5%;
	}

	.large-promise {
		width: 100%;
	}

	.illustration {
		height: 346px;
	}

	.heading {
	    text-align: center;
	}

	.search-surveys-container {
		margin-left: 0px;
	}

	.mobile-promise {
	    margin-top: 0;
	}

	.challenge {
		.done, .ongoing {
			border-radius: 50%;
			width: 11%;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.hpcs-logo {
		width: 100%;
	}

	.survey-extra {
		padding: 0px;
		// height: 100%;
	}

	.earnings-info {
		width: 90% !important;
		margin: 0 auto;
	}

	.mobile-promise {
	    margin-left: 0%;
	}

	.q-container {
	    padding: 3%;
	}
	
	img.coreg-sticker {
	    width: 126px;
	    height: 75px;
	}

	.radio-div {
	    width: 25px;
	}

	body {
        // margin-bottom: 25% !important;
        margin-bottom: 10% !important;
	}

	.sidebar-one {
	    margin-left: 0px;
        margin-bottom: 10% !important;
	}

	// .hpcs-main {
	// 	margin-top: 10%;
	// }

	.col-xs-12.col-md-12.hidden-xs.hidden-md {
	    text-align: center;
	}

	.current-earnings {
	    font-size: 20px;
	}

	.row-redeem h5, .glow-money h5 {
		font-size: 18px;
	}

	.survey-earnings {
		padding: 0px;
	}

	.survey-earnings h5 {
		font-size: 0.7em;
	}

	.visit-redeem h5 {
	    font-size: 11px;
	}

	.challenge {
	    padding-right: 10px;
	}

	.money {
		font-size: 18px;
	}

	.survey-extra h5 {
	    font-size: 0.7em;
	}

	a > img {
    	width: 80%;
	}

	.footer-xs {
		display: block;
	}

	.login-modal {
		width: 80%;
	}
	
	.heading {
		font-size: 20px;
	    text-align: center;
        margin-top: 5%;
	}

	.search-surveys-container {
		margin: 0 auto;
	}
	
	.challenge {
	   margin-top: 40px !important;
		padding-left: 0px !important;
    	width: 100% !important;
    	.done {
    		height: 28px !important;
    	}
	}

	.col-md-6.earnings {
	    right: 4.5%;
	}

	.head-title {
		font-size: 26px;
	}

	.subhead-title {
		font-size: 22px;
	}

	.option-set {
	    // margin-left: 13%;
		// width: 79%;
		label {
			font-weight: 400;
			font-size: 14px;
		}
		.checkbox {
			height: 15px;
			width: 20px;
		}

		.dollar-input {
			width: 85px;
		}
	}

	.sidebar-one {
		.illustration {
	    height: 185px;
	    margin-top: 0;
	    margin-right: 0;
	    padding-left: 0;
	    // font-size: 14px;
	    margin-bottom: 5%;
		}
		.mobile-promise {
     	margin-top: 11px;
    	height: 138px;
		}
		.large-promise {
     	margin-top: 0;
		}
	}	

	.footer-xs {
		border-radius: 10px 10px 20px 20px;
		background: $blue-primary;
		padding: 10px;
		position: absolute;
		width: 100%;
		bottom: 0;
		ul {
	   	margin-left: -40px;
	   	margin-bottom: 2px;
	   	}
		li {
			text-transform: uppercase;
			display: inline;
			font-size: 12px;
			margin-right: 5%;
			a {
				color: $white;
			}
		}
	}

}

@media only screen and (max-width : 568px) {
	img.custom-arrow {
	    width: 40px;
	    margin-top: 10px;
	}

	.Question__content {
	    margin-bottom: 2%;
	}

	.sweet-alert {
	    margin-top: -190px;
        height: 57%;
		h2 {
			font-size: 2em;
			line-height: 1.3em;
		}
		p {
			font-size: 1em;
		}
	}

	.survey-earnings h5 {
	    font-size: 12px;
	}

	.survey-extra h5 {
	    font-size: 11px !important;
	}

	.current-earnings {
	    font-size: 18px;
	}

	.row-redeem h5, .glow-money h5, .glow-money h5 {
	    font-size: 16px;
	}

	.money {
	    font-size: 16px;
	}

	.title {
	    font-size: 25px;
	}

	i.fa.fa-times-circle-o.fa-2x.closer {
	    font-size: 120% !important;
	}
		
	.tabs-left > .nav-tabs > li > a {
		width: 170px;
	}

	.heading {
		font-size: 20px;
	    text-align: center;
	}

	.search-surveys-container {
		margin: 0 auto;
	}

	.offer-container .offer-button {
	    width: 80px;
    	font-size: 10px;
	    padding-left: 9px;
	    height: 62px;
	}

	.challenge {
	   	margin-top: 40px !important;
		padding-left: 0px !important;
    	width: 100% !important;
    	.done {
    		height: 50px !important;
    		padding-top: 15px;
    	}
    	.ongoing {
    		height: 50px !important;
    		padding-top: 15px;
    	}
	}

	.col-md-6.earnings {
		right: 6.5%;
	    margin-bottom: 5%;
	}

	.sidebar-one {
		margin-top: -34%;
	}
}

@media only screen and (max-width : 425) {
    width: 90%;
}

@media only screen and (width : 425) {
	.option-set {
		margin-left: 13% !important;
	}

	.survey-earnings h5 {
	    font-size: 11px !important;
	}

	.survey-extra h5 {
	    font-size: 11px !important;
	}

	.sidebar-one {
	    margin-top: -60%;
	    .mobile-promise {
    	    height: 194px !important;
	    }
	}
}

@media only screen and (max-width : 414px) {
	.col-md-6.earnings {
		right: 9% !important;
	}

	body {
	    margin-bottom: 10%;
	}

	.tabs-left > .nav-tabs > li > a {
	    width: 122px;
        font-size: 13px;
	    padding-top: 20px;
	}

	.challenge .ongoing, .bonus .ongoing {
	    height: 38px !important;
	    padding-top: 10px !important;
	}

	.challenge {
		.done {
			height: 38px !important;
	    	padding-top: 10px !important;
		}
	}

	.offer-container {
	    height: 90px;
	}

	.offer-container .offer-button {
	    height: 90px;
	}

	.offer-container .offer-name, .offer-container .offer-description {
		line-height: initial;
    	font-size: 13px;
	}

	.offer-description {
		margin-top: -5px;
	}
	
}

@media only screen and (max-width : 375px) {
	.col-md-6.earnings {
		right: 11% !important;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.hpcs-main {
	    margin-top: 5em;
	}

	.option-set {
		margin: 0 auto;
		width: 90%;
		margin-top: 15% !important;
	}

	.input-group-addon, .input-group-btn, .input-group .form-control {
	    display: block;
	    margin-bottom: 10px;
	    clear: both;
    }
	.input-group {
	    display: block;
    }

	.col-xs-12.hidden-sm.hidden-lg {
		text-align: center;
	}

	.hpcs-main {
	    margin-bottom: 0;
	}

	.sidebar-one {
		margin-top: 10%;
	}

	.tabs-left>.nav-tabs {
		font-size: 8px;
	}
	
	.nav-tabs > li {
        float:none;
    }

	.col-md-6.earnings {
		right: 13%;
	}

	.head-title {
		font-size: 24px;
	}

	.subhead-title {
		font-size: 20px;
	}

	.option-set {
		label {
			font-weight: 400;
			font-size: 14px;
		}
		.checkbox {
			height: 15px;
			width: 20px;
		}

		.dollar-input {
			width: 85px;
		}
	}

	.radio-div {
	    width: 30px;
	    text-align: center;
	}

	.small-font {
		font-size: 8px;
	}

	.sidebar-one {
		margin-bottom: 0px !important;
		.illustration {
		    padding-top: 5%;
		    margin-right: 0 !important;
		    padding-left: 0;
		    // font-size: 14px;
		}
		.mobile-promise {
		    height: 170px;
		    margin: 0 auto;
	        margin-top: 10%;
		}
	}	

	.footer-xs {
		border-radius: 10px 10px 20px 20px;
		background: $blue-primary;
		padding: 5px;
		position: absolute;
		width: 100%;
		bottom: 0;
		ul {
			margin-left: -40px;
		}
		li {
			display: inline;
			font-size: 10px;
			a {
				color: $white;
			}
		}
	}

	.footer {
		height: 200px;
	}

	footer > .container .navbar-nav > li > a {
		font-size: 12px;
		display: inline-block;
	}
}

@media only screen and (max-width : 375px) {

	img.coreg-sticker {
    width: 60px;
    height: 38px;
	}

	.tabs-left>.nav-tabs {
		float: inherit !important;
		margin-right: inherit !important;
	    font-size: 8px;
	}

	.tabs-left>.nav-tabs>li>a {
		font-size: 8px;
		height: 50px;
		padding-top: 18px;
	    width: 120px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.offer-description {
	    margin-top: 0px;
	}

	div[id*="content-partial"] {
		margin-bottom: 3%;
	}

	div[id*="content-full"] {
		margin-bottom: 3%;
	}

	.polarized-row {
		margin-top: 3%;
	}

	.q-title {
	    // font-size: 13px;
	}

	.q-desc {
		line-height: normal;
	}

	.current-earnings {
	    font-size: 20px;
	}

	.row-redeem h5, .glow-money h5 {
	    font-size: 16px;
	}

	.survey-earnings h5 {
		font-size: 10px;
	}

	.visit-redeem h5 {
	    font-size: 10px;
	}

	.challenge {
	    padding-right: 10px;
	}

	.survey-extra h5 {
		font-size: 11px;
	}

	.right-inner select {
		margin-bottom: 5px;
	}

	.col-md-6.earnings {
		right: 13% !important;
		margin-bottom: 7%;
		.survey-earnings {
			height: 90px;
			h5 {
			    margin-top: 5px;
			}
		}
	}
	
	.login-modal {
		width: 90% !important;
	}

	.sidebar-one {
    	// margin-top: -55%;
	}

	.title {
		font-size: 20px;
	}

	img.coreg-sticker {
	    width: 100px;
	    height: 60px;
	    // width: 60px;
	    // height: 38px;
	}

	i.fa.fa-times-circle-o.fa-2x.closer {
	    font-size: 150% !important;
	}

	table.table-earnings {
		font-size: 9px;
	}

	.legends {
	    font-size: 9px;
	}

	.offer-container {
        height: 80px;
	}

	.offer-container .offer-name {
        font-size: 1.4rem;
    	line-height: initial;
	}

	.offer-container .offer-description {
		font-size: 1rem;
    	line-height: normal;
    	margin-left: -18px;
	}

	.input-group-lg > .form-control {
	    height: 100%;
	}

	.input-group-btn.input-space {
	    padding-left: 0%;
	}

	.offer-container .offer-button {
	    width: 80px;
	    font-size: 10px;
	    padding-left: 9px;
	    height: 80px;
	}

	.submit {
        width: 135px;
	}

	.challenge {
    	.done, .ongoing {
    		height: 28px !important;
    		font-size: 0.6em;
    	}
	}

	// ================================= Begin Page 4 css rules

	.heading {
		font-size: 20px;
	    text-align: center;
	}

	.search-surveys-container {
		margin: 0 auto;
	}

	.date-picker select {
		width: 72px !important;
	}

	.move-down-xlarge {
    	padding-top: 10px !important;
	}

	.challenge {
	   margin-top: 40px !important;
		padding-left: 0px !important;
    	width: 100% !important;
    	.done {
    		height: 28px !important;
    	}
	}

	.radio-div {
	    width: 30px;
	    text-align: center;
	}

	.tabs-left>.nav-tabs {
		float: inherit !important;
		margin-right: inherit !important;
	    font-size: 8px;
	}

	.tabs-left>.nav-tabs>li>a {
		font-size: 8px;
	    height: 50px;
        padding-top: 8px;
	    width: 90px;
	    text-align: left;
	}

	// ================================= End Page 4 css rules

	body {
		// font-size: 12px;
		margin-bottom: 15% !important;
	}

	h1 {
		font-size: 23px;
	}

	h2 {
	   font-size: 20px;
	}

	.head-title {
		font-size: 24px;
	}

	.subhead-title {
		font-size: 20px;
	}

	.option-set {
		label {
			font-weight: 400;
			font-size: 12px;
		}
		.checkbox {
			height: 3%;
			width: 15px;
		}

		.dollar-input {
	    	width: 79px;
		}
	}

	.small-font {
		font-size: 8px;
	}

	.sidebar-one {
		margin-left: 0px !important;
		// margin-top: -80%;
		.illustration {
		    height: 100%;
		    padding-top: 5%;
		    margin-right: 0;
		    padding-left: 0;
		    // font-size: 12px;
		}
		.mobile-promise {
	        margin-top: 25%;
		    height: 145px;
		}
	}	

	.footer-xs {
		border-radius: 10px 10px 20px 20px;
		background: $blue-primary;
		padding: 5px;
   position: absolute;
   width: 100%;
   bottom: 0;
   ul {
   	margin-left: -40px;
   }
		li {
			display: inline;
			font-size: 8px;
			margin-right: 6px;
			a {
				color: $white;
			}
		}
	}

	.footer {
		height: 200px;
	}

	footer > .container .navbar-nav > li > a {
		font-size: 12px;
		display: inline-block;
	}	 
}

@media screen and (min-width: 768px) {

	div#myNavbar {
        display: none !important;
    }

	.offer-container .offer-button {
		height: 60px;
	}

	.right-inner select {
		margin-bottom: 5px;
	}

	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

/* Iphone6 Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	.right-inner select {
		margin-bottom: 5px;
	}

  	.col-md-6.earnings {
	    right: 9% !important;
	}

	.option-set {
		// margin-left: 27px !important;
		p {
		    // padding-left: 10%;
		}
		.Local__div {
		    margin-left: 15%;
		}
	}

	.sidebar-one {
		margin-left: 0% !important;
		.illustration {
		    margin-right: 15px;
		}
	}

	.tabs-left > .nav-tabs > li > a {
	    width: 115px;
	}
}

/* IPhone6+ Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px)
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.offer-container .offer-button {
		height: 63px;
	}

	.challenge .done, .bonus .done, .challenge .skip, .bonus .skip, .challenge .active, .bonus .active, .challenge .ongoing, .bonus .ongoing {
	    height: 40px !important;
	    padding-top: 10px !important;
	}
}

/* IPad Portrait and Landscape */
@media only screen 
  and (width: 768px){
  	.row.logo-container {
	    margin-left: 6%;
  	}
  	.survey-extra {
  		height: 84px;
  	}

  	.option-set {
  		margin: 0 auto;
        width: 92%;
  	}

	section {
		margin-top: 5%;
	}

	.tabs-left > .nav-tabs > li > a {
	    width: 235px;
	}

	.sidebar-one {
	    margin-top: 4%;
        .challenge .done, .bonus .done, .challenge .skip, .bonus .skip, .challenge .active, .bonus .active, .challenge .ongoing, .bonus .ongoing {
		    height: 100% !important;
		    padding-top: 3%;
		    font-size: 0.7em;
		}
	}

	footer.footer.hidden-xs {
		display: none;
	}

	// footer.footer-xs.hidden-lg.hidden-md {
	// 	background: #00CCFF;
	// 	height: 2%;
	// }
  }

  @media only screen 
  and (width: 1024px){

	.tabs-left > .nav-tabs > li > a {
	    width: 175px;
	}

	.challenge {
	    margin-top: auto;
	}
  }

   @media only screen 
  and (width: 360px){
	body {
	    margin-bottom: 20%;
	}

  	.survey-earnings {
	    height: 91px;
  	}

  	section {
  		margin-top: 5%;
  	}

  	.tabs-left > .nav-tabs > li > a {
  		width: 110px;
  	}

  	.sidebar-one .illustration {
  		margin-right: 20px;
  	}
  }

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.hpcs-main {
	    margin-top: 5em;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.hpcs-main {
	    margin-top: 5em;
	}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.hpcs-main {
	    margin-top: 5em;
	}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.hpcs-main {
	    margin-top: 5em;
	}
}