/**
*Primary Colors
**/
$blue-primary: #00CCFF;
$blue-primary__hover: #006699;
$blue-border: #3b95d4;
$blue-secondary: #0099cc;
$green-primary__hover: #006633;
$green-primary: #006600;
$green-secondary: #00cc66;
$orange-primary: #FF9933;
$gray-primary: #F5F5F5;
$gray-primary__hover: #cccccc;

// Font colors
$green: #006600;
$red: #ff0000;




$brand-primary: #56a4da;
$blue-darker: #0b3c5d;
$blue-light: #29aae1;
$blue-lighter: #73b6d6;
$blue-washed: #b5e5e5;
$blue-offer: #76cded;
$gray-light-font: #e6e7e6;
$gray-dark-font: #58595b;
$gray-light-background: #e7e8e9;
$gray-dark-background: #babcbe;
$gray-well-background: #F5F5F5;
$gray-background: #cccccc;
$green-background: #129346;
$green-dark-background: #0f7f3c;
$green-light: #73c151;
$green-font: #129346;
$blue-font: #1376bc;
$ongoing: #F48024;
$white: #fff;
$black: #000;
$yellow: #FFD700;
$orange: #F69323;
$red: #fd0000;
$font: #555;
$breakdown: #E7E8EA;
$washed-blue: #8fb4d7;

/**
 * Basic simple colors
 */
$red: #D9534F;
$blue: #337AB7;
$default: #777777;
$green: #5CB85C;


$navbar-default-color: #e6e7e6;
$navbar-default-bg: $brand-primary ;
$navbar-border-radius: 13px;
$navbar-height: 50px;
$navbar-menu-hover: #dfe8ee;
