<template>
    <section v-show="index < 3 || more">
        <div class="rating-text">

          <h5 class="rating-author">{{review.author | trimFirst}}  </h5>

          <span class="rating rating-small">
                <span  :class="{'star-active': review.stars > 4}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 3}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 2}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 1}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 0}">&#9734; </span>
            </span>
            <p class="rating-p" v-show="!seeMore">"{{review.comment | truncate '150'}}<a @click.prevent="seeMore=true" class="see-more" v-show="review.comment.length >99">See More</a>"</p>
            <span style="font-size: 8px">Date posted: {{ review.created_at }}</span>

            <p v-show="seeMore">{{review.comment}}</p>
        </div>
    </section>
</template>

<style>
    .rating-p {
        margin: 0 0 0px !important;
    }
</style>

<script>

    String.prototype.capitalizeFirstLetter = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    export default{
        props: ['review','index','more'],
        data() {
            return {
                seeMore: false
            }
        },
        filters: {
            truncate(string, value) {
                if(string.length <= 150)
                {
                    return string;
                }
                return string.substring(0, value) + '... ';
            },
            trimFirst(value)
            {
               let name = value.split(' ');

                return name[0].capitalizeFirstLetter();
            }

        }
    }
</script>