<style>

    @media /* very small*/
    {
        .iframe-width{
            width: 100%;
            border: 2px solid beige;
        }

        .iframe-container{
            height:623px !important;
        }
    }
    @media (min-width: 768px)  /*small*/
    {
        .iframe-width{
            width: 100%;
            border: 2px solid beige;
        }
        .iframe-container{
            height:622px !important;
        }
    }
    @media (min-width: 992px)  /*medium*/
    {
        .iframe-width{
            width: 90%;
            border: 2px solid beige;
        }
        .iframe-container{
            height:640px !important;
        }
    }
    @media (min-width: 1200px) /*large*/
    {
        .iframe-width{
            width: 80%;
            border: 2px solid beige;
        }

        .iframe-container{
            height:673px !important;
        }
    }

</style>

<template>
    <!--<section class="animated" transition="bounce" v-show="index <= (current -1)">-->
    <section class="animated" transition="bounce" v-show="showOffer(offer.id,offer.group_id)">
        <!-- <div :class="{'active-offer' : expand }"> -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group input-group-lg">
                        <div class="offer-container form-control" :class="{'active-offer' : expand, 'offer-container-hpcs' : offer.is_hpcs }">
                            <div class="row" @click="expand=!expand">
                                <div class="col-md-7 col-xs-7">
                                    <p class="offer-name" >
                                        <i class="fa fa-{{icon}}-circle"></i>
                                        {{offer.name}}
                                    </p>
                                </div>
                                <div class="col-md-5 col-xs-5 text-right">
                                    <p class="offer-description">
                                        Average user rating:
                                        <span >{{averageRating}}/5.00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="input-group-btn input-space">
                            <button @click="saveLink" :class="{'eiq-button' : offer.is_hpcs, 'cross-out' : strikethrough(offer.id) }" class="btn btn-primary offer-button" type="button"><span v-if="offer.is_hpcs" >EARN ${{ offer.hpcs_cash }} NOW!</span><span v-else="!offer.is_hpcs">CLICK HERE</span></button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Old -->
            <!-- <div class="row">
                <div class="col-md-10 col-xs-9 offer-container" @click="expand=!expand">
                    <div class="row">
                        <div class="col-md-5 col-xs-5">
                            <p class="offer-name" >
                                <i class="fa fa-{{icon}}-circle"></i>
                                {{offer.name}}
                            </p>
                        </div>
                        <div class="col-md-7 col-xs-7">
                            <p class="offer-description">
                                Average user rating:
                                <span >{{averageRating}}/5.00</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-3" style="height: 100%"><button @click="saveLink"  type="button" class="btn btn-default offer-button"><span :class="offer.is_sponsors | strikethrough">Earn more</span></button>
                </div>
            </div> -->
        <!-- </div> -->

        <div class="row">
            <div class="col-xs-9">
                <p class="offer-text"><strong>{{offer.description}}</strong></p>
            </div>

            <div v-if="options.env!='production'">
                <div class="col-xs-4">
                    <span class="offer-text-small"><strong>Source:</strong> {{ offer.is_hpcs | offerSource }} </span>
                </div>
                <div class="col-xs-4">
                    <span class="offer-text-small"><strong>Category type:</strong> {{ offer.is_freebies | offerType }} </span>
                </div>
                <div class="col-xs-4">
                    <span class="offer-text-small"><strong>HPCS Bonus:</strong> {{ offer.hpcs_cash | currency }} </span>
                </div>
            </div>
        </div>

        <hr>

        <div class="offer-rating" v-show="expand">
            <!--<h5 class="offer-name">{{offer.subtitle}}</h5>-->
            <!--<p class="offer-text">{{offer.description}}</p>-->
            <!--<hr>-->
            <!--<div class="rating-text">-->
                <!--<h5>Our rating:</h5>-->
                <!--<p>{{offer.our_rating}}</p>-->
            <!--</div>-->

            <div class="row" v-if="offer.is_hpcs==1 && myIframe">
                <div class="col-md-12" :id="'loader-ajax-'+offer.id">
                    <img src="/images/ajax-loader.gif" alt=""> <strong>Please wait a while we get your offer</strong>
                </div>
                <div class="col-md-12 hidden" :id="'loader-iframe-'+offer.id">
                    <!--wrap to include close later-->
                    <div class="iframe-width">
                        <div class="well-action text-right" style="margin-right: 36px">
                            <a><i @click="expand=!expand"  class="fa fa-times-circle-o fa-2x closer" aria-hidden="true" style="color: red"></i></a>
                        </div>
                            <div class="iframe-container" style="height: 680px">
                                <iframe class="iframe-syles" @load="iframeLoaded(offer.id)" :src="offer.cake_link" frameborder="0" style="height:700px; width: 100%"></iframe>
                            </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="row">
                <div class="col-md-6" style="background: white">
                    <br>
                    <span v-if="offer.reviews_approved<1">
                        <strong>No reviews yet...</strong>
                    </span>

                    <span v-else>
                        <Comment v-for="(index,review) in offer.reviews_approved"  :index="index" :more="showMore" :review="review"></Comment>
                    </span>

                    <button class="btn btn-default" v-show="needsShowMoreButton && !showMore" @click="showMore=true">Show More</button>
                    <button class="btn btn-default" v-show="needsShowMoreButton && showMore" @click="showMore=false">Show Less</button>

                </div>
                <div class="col-md-6" style="background: white">
                    <rating :offer="offer" :user="user"></rating>
                </div>
            </div>
        </div>
        <div class="spacer-mini"></div>
    </section>
</template>

<style>
    .cross-out{
        text-decoration: line-through;
    }

    .offer-text-small{
        font-size: 9px;
    }

    .eiq-button{
       background-color: rgba(0, 128, 0, 0.76) !important;
       border-color: #006600 !important;
    }

    /*button.btn.btn-primary.offer-button.eiq-button span {
        font-size: 0.49em !important;
    }*/

    .eiq-button:hover {
        background: #006600 !important;
    }

    .offer-container-hpcs {
        border-color: rgba(0, 128, 0, 0.76) !important;
    }

    .offer-container.form-control.offer-container-hpcs.active-offer {
        background: #3D9E3D !important;
    }
</style>
<script>
    import Rating from './Rating.vue';
    import Comment from './Comment.vue';

    export default{
        components:{Rating,Comment},
        props: ['offer','current','index','link','user','flag','options','taken'],
        data () {
            return {
                expand: false,
                showMore: false,
                popup : false,
                myIframe : false,

            }
        },
        methods: {
        iframeLoaded(id)
        {
            $('#loader-ajax-'+id).addClass('hidden');
            $('#loader-iframe-'+id).removeClass('hidden');
        },
          saveLink()
          {
              let self = this;

              $.post('user/offer',{ offer_id: this.offer.id, is_freebies : this.offer.is_freebies , is_hpcs : this.offer.is_hpcs , is_sponsors : this.offer.is_sponsors, cash : this.offer.cash, title : this.offer.name, hpcs_cash :  this.offer.hpcs_cash },function (data){
                  self.$dispatch('renewUser',data.user,self.offer.is_hpcs);
              });


//              if(this.offer.is_hpcs==1 && this.offer.id != 80)
//              {
//                  this.expand = true;
//                  this.myIframe = true;
//
//                  return true;
//              }

            if(this.offer.is_hpcs==1 && this.offer.id != 80)
              {
                  window.location = '/external/outer/offer/?referenceUrl='+encodeURIComponent(this.offer.cake_link);
                  return true;
              }

              window.open(this.offer.cake_link,'_blank');
          },

            strikethrough(id){
                let taken = this.taken;
                for (let i in taken) {
                    if(taken[i]['id']==id)
                    {
                        if(taken[i]['status']>=3)
                        {
                            return true;
                        }
                    }
                }
                return false;
            },

            showOffer(id,group){
                let taken = this.taken;

                if(group==null || group==undefined || !group)
                {
                    return true;
                }

                for (let i in taken) {

                    if(taken[i]['group']==group && taken[i]['id']!=id)
                    {
                        return false;
                    }
                }
                return true;
            }
        },
        watch : {
            popup : function () {
                if(this.popup==true)
                {
                    var url = this.offer.link+this.user.id;

                    console.log(url);

//                    window.open(,'_blank');
//                    this.popup = false;
                }

            }
        },
        computed: {
            icon () {
                return this.expand ? 'minus' : 'plus';
            },
            needsShowMoreButton() {
                return this.offer.reviews_approved.length > 3
            },
            averageRating()
            {
                if(!this.offer.reviews_approved[0])
                {
                    return '#.#';
                }

                return (this.offer.reviews_approved.reduce(function(total, item) {
                            return total + item.stars
                        }, 0) / this.offer.reviews_approved.length).toFixed(2);;
            },


        },
        filters: {
            averageRating(reviews) {
                return reviews.reduce(function(total, item) {
                    return total + item.stars
                }, 0) / reviews.length;
            },

            ishpcs(value)
            {
                if(value==1)
                {
                    return 'eiq';
                }
                return 'regular';
            },



            offerSource(is_hpcs){
                if(is_hpcs==1)
                {
                    return 'EIQ'
                }
                return 'ADVERTISERS'
            },

            offerType(is_freebies)
            {
                if(is_freebies==1)
                {
                    return 'FREEBIES'
                }
                return 'SPONSORS'
            }
        }
    }
</script>