<template>
    <section class="">





        <!--<div class="offer-container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12 col-xs-12" data-toggle="collapse" data-target="#offer{{index}}">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-8">-->
                            <!--<p class="offer-name">-->
                                <!--<i class="fa fa-plus-circle"></i>-->
                                <!--{{offer.name}}-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-xs-4">-->
                            <!--<p class="offer-description">-->
                                <!--Average user rating:-->
                                <!--<span >{{averageRating}}/5</span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="col-md-2 col-xs-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-2 col-xs-3"><button @click="saveLink"  type="button" class="btn btn-default offer-button offer-button__challenge"><span :class="offer.is_sponsors | strikethrough">Earn $ now</span></button></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<h5 class="offer-name">{{offer.subtitle}}</h5>-->
            <!--</div>-->
            <!--<div class="col-md-6"></div>-->
            <!--<div class="col-md-12">-->
                <!--<p class="offer-text">{{offer.description}}</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div id="offer{{index}}" class="collapse">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="offer-rating">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="rating-text">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h5>Our rating:</h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>{{offer.our_rating}}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<Comment v-for="(index,review) in offer.reviews_approved"  :index="index" :more="showMore" :review="review"></Comment>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button class="btn btn-default" v-show="needsShowMoreButton && !showMore" @click="showMore=true">See More</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<rating :offer="offer" :user="user"></rating>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</section>-->
</template>


<style>
    .cross-out{
        text-decoration: line-through;
    }
</style>

<script>
    import Rating from './Rating.vue';
    import Comment from './Comment.vue';

    export default{
        props: ['offer','index','user'],
        components:{Rating,Comment},
        data () {
            return {
                expand: false,
                showMore: false,
                popup : false,
            }
        },

        ready:function(){
            this.readyLink();
        },

        methods: {

            createLink(offer) {
                return 'http://engageiq.nlrtrk.com/?a=7746&c=' + offer.id + '&s4=' + this.user.id;
            },

            readyLink(){
                var self = this;
                var url = (this.offer.link.replace(/ /g,''))+this.user.id;
                this.$dispatch('linksSaver',url);
            },
            saveLink()
            {
                var self = this;
                var url = (this.offer.link.replace(/ /g,''))+this.user.id;
                window.open(url,'_blank');

                var is_hpcs = this.offer.is_hpcs;

                setTimeout(function() {
                    self.$dispatch('renewUser',data.user);
                }, 5000);
            }
        },

        computed: {
            icon () {
                return this.expand ? 'minus' : 'plus';
            },
            needsShowMoreButton() {
                return this.offer.reviews_approved.length > 3
            },
            averageRating()
            {
                if(!this.offer.reviews_approved[0])
                {
                    return '#.#';
                }

                return (this.offer.reviews_approved.reduce(function(total, item) {
                    return total + item.stars
                }, 0) / this.offer.reviews_approved.length).toFixed(2);;
            }
        },
        filters: {
            averageRating(reviews) {
                return reviews.reduce(function(total, item) {
                            return total + item.stars
                        }, 0) / reviews.length;
            },

            ishpcs(value)
            {
                if(value==1)
                {
                    return 'eiq';
                }
                return 'regular';
            },

            strikethrough(value){

                var designations = [];

                if(value==1)//if it is offer
                {
                    designations = this.user.offers_taken;
                    for (var i in designations) {

                        if(designations[i]['offer_id']== this.offer.id)
                        {
                            if(designations[i]['status']==3)
                            {
                                return 'cross-out';
                            }
                        }
                    }
                }
                else//if it is hpcs
                {
                    designations = this.user.freebies_taken;
                    for (var i in designations) {

                        if(designations[i]['offer_id']== this.offer.id)
                        {
                            if(designations[i]['status']==3)
                            {
                                return 'cross-out';
                            }
                        }
                    }
                }

            }
        }
    }
</script>