<template>
            <div class="rating">
                <span @click="rating=5" :class="{'star-active': rating > 4}">&#9734; </span>
                <span @click="rating=4" :class="{'star-active': rating > 3}">&#9734; </span>
                <span @click="rating=3" :class="{'star-active': rating > 2}">&#9734; </span>
                <span @click="rating=2" :class="{'star-active': rating > 1}">&#9734; </span>
                <span @click="rating=1" :class="{'star-active': rating > 0}">&#9734; </span>
            </div>
            <textarea name="comment" id="input" v-model.trim="comment" class="form-control vresize" rows="3" required="required" placeholder="Leave A Comment"></textarea>
            <div class="spacer-xs"></div>
            <p class="error-ratings" v-show="showWarning && (!rating || !comment) ">Please rate and leave a comment</p>
            <button type="submit"
                    class="btn btn-primary pull-right"
                    @click="submitReview"
                    :disabled="loading"
            >
                <span v-show="!loading">Submit</span>
                <div class="la-ball-fall-2" v-else>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </button>
        </div>
</template>
<script>
    export default{
        props: ['offer','user'],
        data () {
            return {
                rating: 0,
                showWarning: false,
                comment:'',
                loading:false
            }
        },
        methods: {
            submitReview() {

                if(this.user && !this.user.registered)
                {
                    this.$dispatch('openModal', 'register');
                    return;
                }

                this.showWarning = true;

                if(this.rating && this.comment) {
                    this.loading = true;
                    $.post('/review', {stars: this.rating, comment :this.comment, offer_id: this.offer.id})
                            .success((data)=>{swal('Thank you !','Your comment is subject for approval.','success')})
                            .fail(()=>{swal('Server error.','error')})
                            .done(()=>{this.loading=false; this.comment=''; this.rating=0; this.showWarning=false;});
                }
            }
        }
    }
</script>