<template>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                users: []
            }
        }
    }
</script>