<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i>HPCS User Statistics</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row" v-if="!hpcs">
                        <div class="col-md-12">
                            <strong><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Computing Data</strong>
                        </div>
                    </div>

                    <div class="row" v-else>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-green-sharp">
                                            <span data-counter="counterup" :data-value="hpcs.day1.registered">{{ hpcs.day1.registered }}</span>
                                        </h3>
                                        <small>USER REGISTERED</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span v-bind:style="{ width: getPercentage(hpcs.day1.registered,hpcs.day1.unregistered) }" class="progress-bar progress-bar-success green-sharp">
                                            <span class="sr-only">getPercentage(hpcs.day1.registered,hpcs.day1.unregistered)</span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title"> USER JUST ENTERED </div>
                                        <div class="status-number"> {{ hpcs.day1.unregistered }} </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-blue-sharp">
                                            <span data-counter="counterup" :data-value="hpcs.registered">{{ hpcs.registered }}</span>
                                        </h3>
                                        <small>TOTAL USER REGISTERED</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-people"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                <span v-bind:style="{ width: getPercentage(hpcs.registered,hpcs.unregistered) }" class="progress-bar progress-bar-success blue-sharp">
                                    <span class="sr-only">getPercentage(hpcs.registered,hpcs.unregistered)</span>
                                </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title"> TOTAL USERS JUST ENTERED </div>
                                        <div class="status-number"> {{ hpcs.unregistered }} </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-purple-soft">
                                            <span data-counter="counterup" data-value="276">{{ hpcs.opinions }}</span>
                                        </h3>
                                        <small>OPINIONS for this day</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-envelope-open"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-success purple-soft">
                                            <span class="sr-only"></span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title"> from 30 Day challenge </div>
                                        <div class="status-number"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
                            <!--<div class="dashboard-stat2 bordered">-->
                                <!--<div class="display">-->
                                    <!--<div class="number">-->
                                        <!--<h3 class="font-red-haze">-->
                                            <!--<span data-counter="counterup" data-value="0"> 0</span>-->
                                        <!--</h3>-->
                                        <!--<small>NEW REVIEWS TODAY</small>-->
                                    <!--</div>-->
                                    <!--<div class="icon">-->
                                        <!--<i class="icon-like"></i>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="progress-info">-->
                                    <!--<div class="progress">-->
                                <!--<span style="width: 100%;" class="progress-bar progress-bar-success red-haze">-->
                                    <!--<span class="sr-only">85% change</span>-->
                                <!--</span>-->
                                    <!--</div>-->
                                    <!--<div class="status">-->
                                        <!--<div class="status-title"> INTERNAL CAMPAIGN LEADS </div>-->
                                        <!--&lt;!&ndash;<div class="status-number"> 85% </div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>

            <!--______________________________________________________________________- -->

            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i>HPCS USER TREND</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div v-if="!hpcs"><strong><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Constructing Graph</strong></div>
                    <div id="graph_users"></div>
                </div>
            </div>

            <!--________________________________________________________________________________-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i>HPCS User Statistics</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row" v-if="!hpcs">
                        <div class="col-md-12">
                            <strong><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Computing Data</strong>
                        </div>
                    </div>

                    <div class="row" v-else>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-red-haze">
                                            <span data-counter="counterup" data-value="{{ hpcs.day1.leads }}">{{ hpcs.day1.leads_success }}</span>
                                        </h3>
                                        <small>GATHERED LEADS TODAY</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-like"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                <span style="width: 100%;" class="progress-bar progress-bar-success red-haze">
                                    <span class="sr-only">85% change</span>
                                </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title"> INTERNAL CAMPAIGN LEADS </div>
                                        <!--<div class="status-number"> 85% </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-red-haze">
                                            <span data-counter="counterup" data-value="{{ hpcs.day1.cake }}">{{ hpcs.day1.cake }}</span>
                                        </h3>
                                        <small>CAKE CONVERSION TODAY</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-like"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                <span style="width: 100%;" class="progress-bar progress-bar-success red-haze">
                                    <span class="sr-only">85% change</span>
                                </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title"> EXTERNAL CAMPAIGN LEADS </div>
                                        <!--<div class="status-number"> 85% </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--____________________________________________-->

            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i>LEADS & CAKE- CONVERSION TREND</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div v-if="!hpcs"><strong><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Constructing Graph</strong></div>
                    <div id="graph_leads"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                hpcs: null
            }
        },
        ready(){
            this.initialize();
        },
        computed : {


        },
        methods : {

            initialize(){
                var self = this;
                $.get('/admin/dashboard/statistics',function (response) {
                    self.hpcs = response.hpcs;
                    self.graph();
                });
            },

            graph(){
                var self = this;

                Morris.Line({
                    element: 'graph_users',
                    data: [
                        { y: (this.hpcs.day8.day_name), a: (this.hpcs.day8.registered), b: (this.hpcs.day8.unregistered) , c: (this.hpcs.day8.registered + this.hpcs.day8.unregistered) },
                        { y: (this.hpcs.day7.day_name), a: (this.hpcs.day7.registered), b: (this.hpcs.day7.unregistered) , c: (this.hpcs.day7.registered + this.hpcs.day7.unregistered) },
                        { y: (this.hpcs.day6.day_name), a: (this.hpcs.day6.registered), b: (this.hpcs.day6.unregistered) , c: (this.hpcs.day6.registered + this.hpcs.day6.unregistered) },
                        { y: (this.hpcs.day5.day_name), a: (this.hpcs.day5.registered), b: (this.hpcs.day5.unregistered) , c: (this.hpcs.day5.registered + this.hpcs.day5.unregistered) },
                        { y: (this.hpcs.day4.day_name), a: (this.hpcs.day4.registered), b: (this.hpcs.day4.unregistered) , c: (this.hpcs.day4.registered + this.hpcs.day4.unregistered) },
                        { y: (this.hpcs.day3.day_name), a: (this.hpcs.day3.registered), b: (this.hpcs.day3.unregistered) , c: (this.hpcs.day3.registered + this.hpcs.day3.unregistered) },
                        { y: (this.hpcs.day2.day_name), a: (this.hpcs.day2.registered), b: (this.hpcs.day2.unregistered) , c: (this.hpcs.day2.registered + this.hpcs.day2.unregistered) },
                        { y: (this.hpcs.day1.day_name), a: (this.hpcs.day1.registered), b: (this.hpcs.day1.unregistered) , c: (this.hpcs.day1.registered + this.hpcs.day1.unregistered) }
                    ],
                    parseTime: false,
                    xkey: 'y',
                    ykeys: ['a','b','c','d'],
                    labels: ['Registered User', 'Unregistered User','Recorded User'],
                    lineColors:['#2ab4c0','#5C9BD1','gray'],
                    resize: false,
                });

                Morris.Line({
                    element: 'graph_leads',
                    data: [
                        { y: (this.hpcs.day8.day_name), a:  (this.hpcs.day8.leads_success), b:  (this.hpcs.day8.leads_rejected), c:  (this.hpcs.day8.leads_success + this.hpcs.day8.leads_rejected),  d:  (this.hpcs.day8.cake) },
                        { y: (this.hpcs.day7.day_name), a:  (this.hpcs.day7.leads_success), b:  (this.hpcs.day7.leads_rejected), c:  (this.hpcs.day7.leads_success + this.hpcs.day7.leads_rejected),  d:  (this.hpcs.day7.cake) },
                        { y: (this.hpcs.day6.day_name), a:  (this.hpcs.day6.leads_success), b:  (this.hpcs.day6.leads_rejected), c:  (this.hpcs.day6.leads_success + this.hpcs.day6.leads_rejected),  d:  (this.hpcs.day6.cake) },
                        { y: (this.hpcs.day5.day_name), a:  (this.hpcs.day5.leads_success), b:  (this.hpcs.day5.leads_rejected), c:  (this.hpcs.day5.leads_success + this.hpcs.day5.leads_rejected),  d:  (this.hpcs.day5.cake) },
                        { y: (this.hpcs.day4.day_name), a:  (this.hpcs.day4.leads_success), b:  (this.hpcs.day4.leads_rejected), c:  (this.hpcs.day4.leads_success + this.hpcs.day4.leads_rejected),  d:  (this.hpcs.day4.cake) },
                        { y: (this.hpcs.day3.day_name), a:  (this.hpcs.day3.leads_success), b:  (this.hpcs.day3.leads_rejected), c:  (this.hpcs.day3.leads_success + this.hpcs.day3.leads_rejected),  d:  (this.hpcs.day3.cake) },
                        { y: (this.hpcs.day2.day_name), a:  (this.hpcs.day2.leads_success), b:  (this.hpcs.day2.leads_rejected), c:  (this.hpcs.day2.leads_success + this.hpcs.day2.leads_rejected),  d:  (this.hpcs.day2.cake) },
                        { y: (this.hpcs.day1.day_name), a:  (this.hpcs.day1.leads_success), b:  (this.hpcs.day1.leads_rejected), c:  (this.hpcs.day1.leads_success + this.hpcs.day1.leads_rejected),  d:  (this.hpcs.day1.cake) }
                    ],
                    parseTime: false,
                    xkey: 'y',
                    ykeys: ['a','b','c','d'],
                    labels: ['Leads Success','Leads Rejected','Leads Total','Cake Conversion'],
                    lineColors:['green','red','gray','gold'],
                    resize: false,
                });
            },


            test()
            {

                if(this.$validation.valid)
                {
                    console.log('accepted');
                }
                else
                {
                    console.log('invalid');
                }

            },

            getPercentage(num1,num2){
                var total = num1+num2;
                return (num1/total)*100+'%';
            }

        }
    }
</script>