<template>

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-lists"></i>Feedback/Reviews/Opinions</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-tabs" role="tablist">
                        <li @click="changeTab('home')" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Feedbacks</a></li>
                        <li @click="changeTab('opinions')" role="presentation"><a href="#opinions" aria-controls="opinions" role="tab" data-toggle="tab">Opinions</a></li>
                        <li @click="changeTab('reviews')" role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                        <li @click="changeTab('settings')" role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">

                        </div>
<!--______________________________________________________________________________________________________________________________________-->

                        <div role="tabpanel" class="tab-pane" id="opinions">
                            <div class="table-scrollable" v-show="pagination">
                                <h4>Opinions from 30 day challenge</h4>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <th>Sr.#</th>
                                    <th>IP</th>
                                    <th>Sender</th>
                                    <th>Opinion</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody v-for="opinion in pagination.data">
                                    <tr>
                                        <td> {{ pagination.from + $index }} </td>
                                        <td> {{ opinion.ip }} </td>
                                        <td> {{ opinion.name }} </td>
                                        <td> {{ opinion.text }} </td>
                                        <td> {{ opinion.date_from_human }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline btn-circle red btn-sm blue"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <hr>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}" :disabled="!pagination.prev_page_url"><a class="page-link" href="javascript:;" @click="changeList(pagination.prev_page_url)">Previous</a></li>

                                        <li class="page-item {{ pagination.from==(n+1) ? 'disabled':'' }}" :disabled="pagination.from==(n+1)" v-for="n in pagination.last_page"><a class="page-link" href="javascript:;" @click="changeList(opinionUrl+'?page='+(n+1))" >{{ n+1 }}</a></li>

                                        <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}" :disabled="!pagination.next_page_url"><a class="page-link" href="javascript:;" @click="changeList(pagination.next_page_url)">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
<!--______________________________________________________________________________________________________________________________________-->

                        <div role="tabpanel" class="tab-pane" id="reviews">

                            <div class="table-scrollable" v-show="pagination">
                                <h4>Reviews for External Linkouts</h4>
                                <br>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <th width="5%">Sr.#</th>
                                    <th width="10%">Campaign</th>
                                    <th width="10%">Author</th>
                                    <th width="30%">Comment</th>
                                    <th width="5%">Stars</th>
                                    <th width="15">Date</th>
                                    <th width="15%">Action</th>
                                    </thead>
                                    <tbody v-for="review in pagination.data">
                                    <tr>
                                        <td> {{ pagination.from + $index }} </td>
                                        <td> {{ review.offer.name }} </td>
                                        <td> {{ review.author }} </td>
                                        <td> {{ review.comment }} </td>
                                        <td> {{ review.stars }} </td>
                                        <td> {{ review.created_at }}</td>
                                        <td class="text-center">
                                            <button @click="approvedReview('/admin/review/'+review.id)" title="approved" type="button" class="btn btn-outline btn-circle green btn-sm blue"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                                            <button @click="rejectReview('/admin/review/'+review.id)" title="disapproved" type="button" class="btn btn-outline btn-circle red btn-sm blue"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <hr>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}" :disabled="!pagination.prev_page_url"><a class="page-link" href="javascript:;" @click="changeList(pagination.prev_page_url)">Previous</a></li>

                                        <li class="page-item {{ pagination.from==(n+1) ? 'disabled':'' }}" :disabled="pagination.from==(n+1)" v-for="n in pagination.last_page"><a class="page-link" href="javascript:;" @click="changeList(reviewUrl+'?page='+(n+1))" >{{ n+1 }}</a></li>

                                        <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}" :disabled="!pagination.next_page_url"><a class="page-link" href="javascript:;" @click="changeList(pagination.next_page_url)">Next</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
<!--___________________________________________________________________________________________________________________________________________-->

                        <div role="tabpanel" class="tab-pane" id="settings">

                        </div>
<!--____________________________________________________________________________________________________________________________________-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                activeTab:null,
                pagination: [],
                opinionUrl:"/admin/feedbacks/opinion/lists",
                opinionData:null,
                reviewUrl:"/admin/feedbacks/review/lists",
                reviewData:null
            }
        },

        ready(){
            this.initialize();
        },
        methods : {

            initialize(){
                var self = this;

                stopLoading();
            },

            changeTab(active){
                var self = this;

                if(self.activeTab == active)
                {
                    return false;
                }

                self.pagination = [];
                self.activeTab = active;

                if(active=='opinions')
                {
                    if(!self.opinionData)
                    {
                        $.get(self.opinionUrl,function (response) {
                            self.pagination = response.data;
                            self.opinionData = response.data;
                        });
                    }
                    else
                    {
                        self.pagination = self.opinionData;
                    }
                }
                else if(active=='reviews')
                {
                    if(!self.reviewData) {
                        $.get(self.reviewUrl, function (response) {
                            self.pagination = response.data;
                            self.reviewData = response.data;
                        });
                    }
                    else
                    {
                        self.pagination = self.reviewData;
                    }
                }
                else
                {
                    self.pagination = [];
                }

            },

            changeList(url){
                var self = this;

                self.pagination = [];
                // perform ajax
                $.ajax({
                    url: url,
                    beforeSend: function(){
                        startLoading();
                    },
                    success: function(response) {
                        console.log(response);
                        self.pagination = response.data;
                        stopLoading();
                    },
                    error: function(){
                        stopLoading();
                    }
                });
            },

            approvedReview(url){
                var self = this;
                swal({   title: "Approve comment?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3598DC",
                            confirmButtonText: "Yes, approve it!",
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        },
                        function(){
                            $.ajax({
                                url: url,
                                data : { _token: $('[name="_token"]').attr('content') },
                                type: 'POST',
                                success: function(response) {
                                    swal.close();
                                    self.reviewData = response.data;
                                    self.pagination = response.data;
                                }
                            })
                        });
            },

            rejectReview(url){
                var self = this;
                swal({   title: "Are you sure?",
                            text: "You will not be able to recover this comment!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, reject it!",
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        },
                        function(){
                            $.ajax({
                                url: url,
                                data : { _token: $('[name="_token"]').attr('content') },
                                type: 'DELETE',
                                success: function(response) {
                                    swal.close();
                                    self.reviewData = response.data;
                                    self.pagination = response.data;
                                }
                            })
                        });
            }
        }


    }
</script>