<template>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-table"></i>External Campaign / Linkouts</div>
                    <div class="tools">
                        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#createLocalModal"><span class="fa fa-plus"></span> Add Linkout</button>
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover" style="width:98%;">
                            <thead>
                            <th width="5%">Sr. #</th>
                            <th width="15">Name</th>
                            <th width="15">Description</th>
                            <th width="15%">Order</th>
                            <th width="5%">Type</th>
                            <th width="10%">Cash</th>
                            <th width="5%">Owner</th>
                            <th width="10%">EIQ Reward</th>
                            <th width="10%">Created</th>
                            <th width="10%">Actions</th>
                            </thead>
                            <tbody v-for="offer in pagination.data">
                                <tr>
                                    <td> {{ pagination.from + $index }} </td>
                                    <td>{{ offer.name }}</td>
                                    <td>{{ offer.description }}</td>
                                    <td> {{ offer.order }}</td>
                                    <td>{{ offer.is_sponsors | offerType }}</td>
                                    <td>{{ offer.cash | currency }}</td>
                                    <td>{{ offer.is_hpcs | isHpcs }}</td>
                                    <td>{{ offer.hpcs_cash | currency}}</td>
                                    <td>{{ offer.date_from_human }}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline btn-circle btn-sm blue" @click="selectOffer(offer)"><i class="fa fa-pencil"></i></button>
                                        <button type="button" class="btn btn-outline btn-circle red btn-sm blue" disabled><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="offerLists(pagination.prev_page_url)">Previous</a></li>
                                    <li class="page-item {{ pagination.from==(n+1) ? 'disabled':'' }}" v-for="n in pagination.last_page"><a class="page-link" href="javascript:;" @click="offerLists('/admin/offers/lists?page='+(n+1))" >{{ n+1 }}</a></li>
                                    <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="offerLists(pagination.next_page_url)">Next</a></li>
                                </ul>
                            </nav>
                            <p>
                                Items from {{ pagination.from }} to {{ pagination.to }} out of {{ pagination.total }} linkouts
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="createLocalModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="">Create New Linkout offers</h4>
                </div>
                <div class="modal-body">
                    <create></create>
                </div>
            </div>
        </div>
    </div>


    <div id="updateLocalModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update New Linkout offers</h4>
                </div>
                <div class="modal-body">
                    <update v-if="selectedOffer" :selected-offer="selectedOffer"></update>
                </div>
            </div>
        </div>
    </div>

</template>

<script type="text/babel">

    import Create from './local/Create.vue';
    import Update from './local/Update.vue';

    export default{
        props : [],
        data () {
            return {
                pagination: [],
                selectedOffer : null,
                searchedOffer : null,
                url : null
            }
        },
        components : {
            Create,
            Update
        },
        ready(){
            this.offerLists();
        },

        methods : {

            offerLists(url,keyword) {
                var self = this;

                if(url==undefined)
                {
                    url = '/admin/offers/lists';
                }

                self.url = url;

                startLoading();
                $.get(url, { q:keyword } ,function (response) {
                    console.log(response.data);
                    self.pagination = response.data;
                    stopLoading();
                })
            },

            selectOffer(offer){
                this.selectedOffer = offer;
                $('#updateLocalModal').modal('show');
            },

            releaseOffer()
            {
                this.selectedOffer = null;
            },
        },

        filters : {
            offerType(offer){
                if(offer==1)
                {
                    return 'Offers';
                }
                return 'Freebies';
            },

            isHpcs(hpcs){
                if(hpcs==1)
                {
                    return 'EngageIQ';
                }
                return 'Sponsors';
            }

        },

        events : {

            offerSearch(keyword)
            {
                this.offerLists(undefined,keyword);
            },

            refreshCoregList()
            {
                $('#updateLocalModal').modal('hide');
                $('#createLocalModal').modal('hide');
                this.offerLists(this.url);
            }
        }
    }
</script>