<template>

    <Users></Users>
    <!--<Dashboard></Dashboard>-->

    <!-- end modals -->
</template>
<script type="text/javascript">

    import Users from './Users.vue';
    import Dashboard from './Dashboard.vue';

    export default{
        props : [],
        components: {
            Users,
            Dashboard
        },
        data () {
            return {
            }
        }
    }
</script>