<template>
<div class="row">
    <div class="col-md-12">

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Questionnaires</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" v-show="pagination">
                    <table id="questions-table" class="table table-hover">
                        <thead>
                        <tr>
                            <th width="5%">Sr.#</th>
                            <th width="15%">Survey</th>
                            <th width="15%">Title</th>
                            <th width="30%">Question</th>
                            <th width="5%">Question Order</th>
                            <th width="10%">Date Created</th>
                            <th width="20%">Action</th>
                        </tr>
                        </thead>
                        <tbody v-for="question in pagination.data">

                        <tr v-if="selectedQuestion && selectedQuestion.id == question.id">
                            <td> {{ pagination.from + $index }} </td>
                            <td> <input type="text" :value="question.designation.label" class="form-control"></td>
                            <td> <input type="text" :value="question.title" class="form-control"> </td>
                            <td> <input type="text" :value="question.content" class="form-control"></td>
                            <td> {{ question.order }} </td>
                            <td> {{ question.date_from_human }} </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline btn-circle btn-sm green" title="Save User"><i class="fa fa-save"></i></button>
                                <button type="button" class="btn btn-outline btn-circle btn-sm orange" @click="releaseQuestion"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>

                        <tr v-else>
                            <td> {{ pagination.from + $index }} </td>
                            <td> {{ question.designation.label }}</td>
                            <td> {{ question.title }} </td>
                            <td> {{ question.content }} </td>
                            <td> {{ question.order }} </td>
                            <td> {{ question.date_from_human }} </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline btn-circle btn-sm blue" @click="selectQuestion(question)"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-outline btn-circle red btn-sm blue" ><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="questionsLists(pagination.prev_page_url)">Previous</a></li>

                                <li class="page-item {{ pagination.from==(n+1) ? 'disabled':'' }}" v-for="n in pagination.last_page"><a class="page-link" href="javascript:;" @click="questionsLists('/admin/question/lists?page='+(n+1))" >{{ n+1 }}</a></li>

                                <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="questionsLists(pagination.next_page_url)">Next</a></li>
                            </ul>
                        </nav>

                        <p>
                            Items from {{ pagination.from }} to {{ pagination.to }} out of {{ pagination.total }} users
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="questions-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Title - @{{ questionTitle }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <table class="table">
                            <tr>
                                <td>Question id</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionId  }}"> </td>-->
                                <!--<td v-else>@{{ questionId }}</td>-->
                            </tr>
                            <tr>
                                <td>Title</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionTitle  }}"> </td>-->
                                <!--<td v-else>@{{ questionTitle }}</td>-->
                            </tr>
                            <tr>
                                <td>Question</td>
                                <!--<td v-if="canEdit"><textarea class="form-control" type="text" name=""> @{{ questionContent }} </textarea> </td>-->
                                <!--<td v-else>@{{ questionContent }}</td>-->
                            </tr>
                            <tr></tr>
                            <tr>
                                <td>Label</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionLabel  }}"> </td>-->
                                <!--<td v-else>@{{ questionLabel }}</td>-->
                            </tr>
                            <tr>
                                <td>Order</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionOrder  }}"> </td>-->
                                <!--<td v-else>@{{ questionOrder }}</td>-->
                            </tr>
                            <tr></tr>
                            <tr>
                                <td>Lead Reactor</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionLeadReactor  }}"> </td>-->
                                <!--<td v-else>@{{ questionLeadReactor }}</td>-->
                            </tr>
                            <tr>
                                <td>Polar</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionPolar  }}"> </td>-->
                                <!--<td v-else>@{{ questionPolar }}</td>-->
                            </tr>
                            <tr>
                                <td>Date Created</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionCreated  }}"> </td>-->
                                <!--<td v-else>@{{ questionCreated }}</td>-->
                            </tr>
                            <tr>
                                <td>Date Updated</td>
                                <!--<td v-if="canEdit"><input class="form-control" type="text" name="" value="@{{ questionCreated  }}"> </td>-->
                                <!--<td v-else>@{{ questionCreated }}</td>-->
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" v-if="canEdit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                pagination : [],
                selectedQuestion : null
            }
        },

        ready : function(){
            this.initialize();
        },

        methods : {

            initialize : function(){
                var self = this;

                $.get('/admin/question/lists',function (response) {
                    console.log(response);
                    self.pagination = response.data;
                    stopLoading();
                })


            },

            questionsLists(url){
                var self = this;

                if(url==undefined)
                {
                    url = '/admin/question/lists';
                }

                self.pagination = [];
                // perform ajax
                $.ajax({
                    url: url,
                    beforeSend: function(){
                        startLoading();
                    },
                    success: function(response) {
                        console.log(response);
                        self.pagination = response.data;
                        stopLoading();
                    },
                    error: function(){
                        stopLoading();
                    }
                });
            },

            selectQuestion(question){
                this.selectedQuestion = question;
            },
            releaseQuestion(){
                this.selectedQuestion = null;
            }

        }
    }
</script>