<template>
<div class="row">

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i>{{ dbMode }} Users</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <hpcs v-if="dbMode=='HPCS'"></hpcs>
            <oldhpcs  v-if="dbMode=='OLDHPCS'"></oldhpcs>
            <pfr  v-if="dbMode=='PFR'"></pfr>
        </div>
    </div>
</div>
</template>
<script type="text/babel">

    import Hpcs from './user/hpcs.vue';
    import Oldhpcs from './user/oldhpcs.vue';
    import Pfr from './user/pfr.vue';

    export default{
        props : ['dbMode'],
        components : {
            Hpcs,
            Oldhpcs,
            Pfr
        },

        events : {
            userSearch : function (search) {
                switch(this.dbMode)
                {
                    case 'HPCS' :
                        this.$broadcast('userSearchHpcs',search);
                        break;

                    case 'OLDHPCS' :
                        this.$broadcast('userSearchOldHpcs',search);
                        break;

                    case 'PFR' :
                        this.$broadcast('userSearchPfr',search);
                        break;

                }
            }
        }
    }
</script>