<template>

    <div class="tooltipParent ">
        <span v-if="freebies" class="hoverMe" rel="tooltip"
              @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
              @mouseLeave="tooltip=false" v-on:touchend="tooltip=false"
        >
            <h5 
                @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
            >
                {{ title }}
            </h5>

                <span v-if="user.count_freebies > 0" class="badge badge-danger badge-freebies"
                @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
                >{{ user.count_freebies }}</span>
        </span>

        <span v-else class="hoverMe" rel="tooltip"
              @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
              @mouseleave="tooltip=false"
        >
            <h5>{{ title }} <span v-if="title=='From Our Sponsors'" class="label" style="color:#414042"></h5>
            <small v-if="title=='From Our Sponsors'" style="color: #414042">UP TO</small>
            <span
                @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
                class="money" :class="{ 'glow-text' : glowtext }"
                v-if="user && condition > 0">{{ condition | currency }}</span>
            <span @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                  @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
                  class="money" :class="{ 'glow-text' : glowtext }" v-else>$0.00</span>
        </span>

        <!-- <span v-if="freebies" class="hoverMe" rel="tooltip" @mouseover="mouseOver($event)" @mouseLeave="mouseLeave($event)">
            <h5 
                @mouseover="mouseOver($event)" 
                @mouseLeave="mouseLeave($event)"
                v-text="title"></h5>
            <span v-if="freebiesCount > 0" class="badge badge-danger" 
                @mouseover="mouseOver($event)" 
                @mouseLeave="mouseLeave($event)"
                v-text="freebiesCount"></span>
        </span>

        <span v-else class="hoverMe" rel="tooltip" @mouseover="mouseOver($event)" @mouseLeave="mouseLeave($event)">
            <h5 v-text="title"></h5>
            <span 
                @mouseover="mouseOver($event)" 
                @mouseLeave="mouseLeave($event)" class="money" 
                v-if="user && condition > 0"
                v-text="condition | currency"></span>
            <span @mouseover="mouseOver($event)" @mouseLeave="mouseLeave($event)" class="money" v-else>$0.00</span>
        </span> -->

        <div class="bubble" v-show="tooltip">
            <strong>Current Earnings</strong>
            <table class="table text-left">
                <tr>
                    <td><strong>Accumulated</strong></td>
                    <td> {{ user.money_hpcs + user.money_challenge + user.money_hpcs_linkout | currency }} </td>
                </tr>
                <tr>
                    <td><strong>Paid:</strong></td>
                    <td> {{ user.money_hpcs_paid + user.money_challenge_paid + user.money_hpcs_linkout_paid | currency }} </td>
                </tr>
                <tr>
                    <td>
                        <strong>Posted:</strong>
                        <p style="font-size: 8px"><i>(Also include pending offers)</i></p>
                    </td>
                    <td>{{ user.money_offers | currency }}</td>
                </tr>

            </table>
        </div>
    </div>
</template>
<style>
    .badge-freebies{
        margin-top : 14px
    }
</style>
<script type="text/ecmascript-6">
    export default{
        props : ['title','user','condition','freebies','glow'],
        data(){
            return{
                sponsorAll : 0,
                accumulated : 0,
                sponsorApproved : 0,
                freebiesCount : 0,
                tooltip: false,
                glowtext: false
            }
        },
        ready(){
            if(this.condition==1 && this.glow=='hpcs')
            {
                this.$dispatch('glowChange',this.glow);
            }
        },
        methods : {

            grandTotal(){
                var user = this.user;

                if(user.challenge==null)
                {
                    user["challenge"] = 0;
                }
                if(user.freebies==null)
                {
                    user["freebies"] = 0;
                }
                if(user.sponsors==null)
                {
                    user["sponsors"] = 0;
                }

                this.total = parseInt(user.challenge)+parseInt(user.hpcs)+parseInt(user.sponsors);
            }
        },

        watch :
        {
            condition()
            {
                if(this.condition>0)
                {
                    let self = this;
                    self.glowtext = true;
                    setTimeout(function()
                    {
                        self.glowtext = false;
                    },3000);
                    
                    this.$dispatch('glowChange',this.glow);
                }
            }
        }
    }
</script>