<template>
        <form id="form-update">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <h4>Offer Name</h4>
                            <input type="text" class="form-control" name="name" :value="selectedOffer.name" />
                        </div>

                        <div class="col-md-12 form-group">
                            <h4>Description</h4>
                            <textarea class="form-control" name="description" id="" rows="6" style="resize: vertical">{{ selectedOffer.description }}</textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <h4>Categories</h4>
                            <input type="checkbox" name="has_cash" value="1" :checked="selectedOffer.has_cash"> <label>Cash</label> <br>
                            <input type="checkbox" name="has_points" value="1" :checked="selectedOffer.has_points"> <label>Points</label> <br>
                            <input type="checkbox" name="has_sweeptakes" value="1" :checked="selectedOffer.has_sweeptakes"> <label>Sweepstakes</label> <br>
                            <input type="checkbox" name="has_coupons" value="1" :checked="selectedOffer.has_coupons"> <label>Coupons</label> <br>
                            <input type="checkbox" name="has_freebie" value="1" :checked="selectedOffer.has_freebie"> <label>Freebies</label>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <h4>Cake Id</h4>
                            <input type="number" name="cake_id" class="form-control" placeholder="Optional" :value="selectedOffer.cake_id">
                        </div>

                        <div class="col-md-6 form-group">
                            <h4>Advertiser Max Offer</h4>
                            <input type="number" name="up_to" class="form-control" placeholder="Advertiser Max Offer" :value="selectedOffer.up_to ? selectedOffer.up_to : selectedOffer.cash">
                        </div>

                        <div class="col-md-12 form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Creative Id</h4>
                                    <input type="number" name="id" class="form-control"  placeholder="13" :value="selectedOffer.id">
                                </div>

                                <div class="col-md-6">
                                    <h4>Apply paid for click?</h4>
                                    <select name="click_paid" class="form-control">
                                        <option value="0" :selected="selectedOffer.click_paid==0">No</option>
                                        <option value="1" :selected="selectedOffer.click_paid==1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Incentive Type</h4>
                                    <select class="form-control" name="is_hpcs">
                                        <option value="0" :selected="selectedOffer.is_hpcs==0">Normal</option>
                                        <option value="1" :selected="selectedOffer.is_hpcs==1">EIQ</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <h4>HPCS Bonus</h4>
                                    <input name="hpcs_cash" type="text" value="0.00" class="form-control" :value="selectedOffer.hpcs_cash">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Campaign Type</h4>
                                    <select class="form-control" name="is_type">
                                        <option value="1" :selected="selectedOffer.is_type==1"> Offers </option>
                                        <option value="0" :selected="selectedOffer.is_type==0"> Freebies  </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <h4>Reward</h4>
                                    <input name="cash" type="text" class="form-control" :value="selectedOffer.cash">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <h4>General Linkout</h4>
                                    <select name="general" class="form-control">
                                        <option value="0" :selected="selectedOffer.general==0">No</option>
                                        <option value="1" :selected="selectedOffer.general==1">Yes</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <h4>Active Status</h4>
                                    <select name="is_active" class="form-control">
                                        <option value="0" :selected="selectedOffer.is_active==0">No</option>
                                        <option value="1" :selected="selectedOffer.is_active==1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <input type="hidden" name="_token" v-model="token">
                <input type="hidden" name="_method" value="PATCH">
                <hr />
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" @click="updateOffer" class="btn btn-primary" :disabled="loading"><span v-if="loading"><i class="fa fa-spinner fa-spin"></i></span><span v-else>Update Campaign</span></button>
                </div>
            </div>

        </form>
</template>
<script type="text/babel">
    export default{
        props : ['selectedOffer'],
        data () {
            return {
                token : $('[name="_token"]').attr('content'),
                loading : false
            }
        },

        ready : function(){
        },

        methods : {
            updateOffer : function () {
                var self = this;
                var data = $('#form-update').serializeArray();
                self.loading = true;

                $.ajax({
                    url:'/admin/offers/update',
                    method:'POST',
                    data: data
                }).success(function(response) {
                    notify("Success!", "Offer has been inserted", "success");
                    self.selectedOffer = response.selected;
                    self.loading = false;
                    self.$dispatch ('refreshCoregList');
                }).fail(function(e) {
                    notify(e.statusText || ($.parseJSON(e.responseText)).message, "", "error", 'overlay');
                    self.loading = false;
                });
            }

        }

    }
</script>