<template>
    <section v-show="index < 3 || more">
        <div class="rating-text">
            <h5 class="rating-author">{{review.author}}:</h5>
            <span class="rating rating-small">
                <span  :class="{'star-active': review.stars > 4}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 3}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 2}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 1}">&#9734; </span>
                <span  :class="{'star-active': review.stars > 0}">&#9734; </span>
            </span>
            <p v-show="!seeMore">{{review.comment | truncate '150'}}<a @click.prevent="seeMore=true" class="see-more" v-show="review.comment.length >99">See More</a></p>
            <p v-show="seeMore">{{review.comment}}</p>
        </div>
    </section>
</template>

<script>
    export default{
        props: ['review','index','more'],
        data() {
            return {
                seeMore: false
            }
        },
        filters: {
            truncate(string, value) {
                if(string.length <= 150)
                {
                    return string;
                }
                return string.substring(0, value) + '... ';
            }
        }
    }
</script>
<style>
    .rating-small>span {
        font-size:15px !important;
        pointer-events:none;
    }
    .rating-author {
        margin-bottom:0px;
    }
    .see-more {
        cursor: pointer;
    }
</style>