<template>
    <section class="animated" transition="bounce" v-show="index <= (current -1)">
        <div class="offer-container" :class="{'active-offer' : expand }">
            <div class="row">
                <div class="col-md-10 col-xs-9" @click="expand=!expand">
                    <div class="row">
                        <div class="col-xs-5">
                            <p class="offer-name" >
                                <i class="fa fa-{{icon}}-circle"></i>
                                {{offer.name}}
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="offer-description">
                                Average user rating:
                                <span >{{averageRating}}/5</span>
                            </p>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-3"><button @click="saveLink"  type="button" class="btn btn-default offer-button">Earn $ now</button></div>
            </div>
        </div>
        <h5 class="offer-name">{{offer.subtitle}}</h5>
        <p class="offer-text">{{offer.description}}</p>
        <div class="offer-rating" v-show="expand" >
            <div class="rating-text">
                <h5>Our rating:</h5>
                <p>{{offer.our_rating}}</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <Comment v-for="(index,review) in offer.reviews_approved"  :index="index" :more="showMore" :review="review"></Comment>
                    <button class="btn btn-default" v-show="needsShowMoreButton && !showMore" @click="showMore=true">See More</button>
                </div>
                <div class="col-md-6">
                    <rating :offer="offer" :user="user"></rating>
                </div>
            </div>
        </div>
        <div class="spacer-mini"></div>
    </section>
</template>
<script>
    import Rating from './Rating.vue';
    import Comment from './Comment.vue';

    export default{
        components:{Rating,Comment},
        props: ['offer','current','index','link','user'],
        data () {
            return {
                expand: false,
                showMore: false,
            }
        },
        methods: {
          saveLink()
          {
              $.post('user/offer',{ offer_id: this.offer.id },function (){
                    console.log('offer saved!');
              }).fail(function(){console.log('failed saving offer.')});

              window.open(this.link,'_blank');
          }
        },
        computed: {
            icon () {
                return this.expand ? 'minus' : 'plus';
            },
            needsShowMoreButton() {
                return this.offer.reviews_approved.length > 3
            },
            averageRating()
            {
                if(!this.offer.reviews_approved[0])
                {
                    return '#.#';
                }

                return (this.offer.reviews_approved.reduce(function(total, item) {
                            return total + item.stars
                        }, 0) / this.offer.reviews_approved.length).toFixed(2);;
            }
        },
        filters: {
            averageRating(reviews) {
                return reviews.reduce(function(total, item) {
                    return total + item.stars
                }, 0) / reviews.length;
            }
        }
    }
</script>
<style>
    .see-more {
        font-size:smaller;
    }
</style>