<style>
    .sweet-alert
    {
        background: ghostwhite !important;
    }

    .leads-hover:hover
    {
        background: ghostwhite !important;
    }
</style>
<template>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label><strong>Result Limit: </strong></label>
                        <select @change="filtersChange" class="form-control" v-model="resultLimit">
                            <option value="20"> Show 20 results</option>
                            <option value="50"> Show 50 results</option>
                            <option value="100"> Show 100 results</option>
                            <option value="200"> Show 200 results</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label><strong>Sorted by: </strong></label>
                        <select  @change="filtersChange" class="form-control" v-model="sortBy">
                            <option value="email"> Email</option>
                            <option value="created_at"> Created at </option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label><strong>Order by: </strong></label>
                        <select  @change="filtersChange" class="form-control" v-model="orderBy">
                            <option value="ASC"> Ascending </option>
                            <option value="DESC"> Descending </option>
                        </select>
                    </div>


                    <div class="col-md-2">
                        <label><strong>Payments Filter: </strong></label>
                        <select @change="filtersChange" class="form-control" v-model="paymentsBy">
                            <option value="all"> All Users</option>
                            <option value="hpcs">Unpaid HPCS</option>
                            <option value="challenge">Unpaid Challenge</option>
                            <option value="linkout">Unpaid Linkout</option>
                        </select>
                    </div>

                    <!--<div class="col-md-2 col-md-offset-2">-->
                        <!--<label><strong>Filtered by: </strong></label>-->
                        <!--<select @change="filtersChange" class="form-control" v-model="registeredBy">-->
                            <!--<option value="0"> All Users</option>-->
                            <!--<option value="1"> Registered Users Only</option>-->
                        <!--</select>-->
                    <!--</div>-->

                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="table-scrollable" v-show="pagination">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <th width="5%">Sr.#</th>
                        <th width="20%%">Email</th>
                        <th width="5%">Money</th>
                        <th width="5%">Paid</th>
                        <th width="10%">Last Payment Date</th>
                        <th width="10%">Created</th>
                        <th width="5%" class="text-center" title="NLR status [Total | Reject]">NLR</th>
                        <th width="5%" class="text-center" title="Converted to Leads [Conversions]">Leads</th>
                        <th width="5%" class="text-center"title="Submitting/Pending Leads [Submitting]">Pending</th>
                        <th width="5%" class="text-center"title="Linkout status [Clicks | Conversion]">Cake</th>
                        <th width="15%" class="text-center">Actions</th>
                        </thead>
                        <tbody v-for="user in pagination.data">
                        <tr>
                            <td> {{ pagination.from + $index }} </td>
                            <td>{{ user.email }}</td>
                            <td>{{ (user.money_hpcs + user.money_challenge + user.money_hpcs_linkout) | currency }}</td>
                            <td style="color: green;">{{ (user.money_hpcs_paid + user.money_challenge_paid + user.money_hpcs_linkout_paid) | currency }}</td>
                            <td><span v-if="user.payment_status">{{ getDate(user.payment_status[user.payment_status.length-1].date.date,true) }}</span></td>
                            <td>{{ user.date_from_human }}</td>
                            <td class="text-center"><span style="color: blue">{{ user.success_leads + user.reject_leads }}</span> | <span style="color: red">{{ user.reject_leads }}</span></td>
                            <td class="text-center" style="color: green;"><strong>{{ user.converted_leads }}</strong></td>
                            <td><span v-if="user.unsend_leads>0" style="color: orange">{{ user.unsend_leads }}</span> <span v-else>N/A</span> <button v-if="user.unsend_leads>0" type="button" class="btn btn-xs red pull-right" @click="resendLead(user.id,$event)" title="Force Resend this Leads"><i class="fa fa-refresh"></i></button></td>
                            <td class="text-center"> <span style="color: blue"> {{ countLinkouts(user.freebies_taken,user.offers_taken) }} </span> | <span style="color: green"> {{ user.cake.length }} </span> </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline btn-circle btn-sm green" @click="viewModal(user)" title="View User"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-outline btn-circle btn-sm blue" @click="editModal(user,false)"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-outline btn-circle red btn-sm blue"><i class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-outline btn-circle btn-sm green" @click="sendIdch(user)" title="Send IDCH" disabled><i class="fa fa-envelope"></i></button>
                                <a :href="'/admin/user/download/report/'+user.id" type="button" class="btn btn-outline btn-circle btn-sm orange" @click="report(user.id)" title="download to excel"><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="userLists(pagination.prev_page_url)">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:;">Page {{ pagination.current_page}}</a></li>
                                <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="userLists(pagination.next_page_url)">Next</a></li>
                            </ul>
                        </nav>

                        <p>
                            Items from {{ pagination.from }} to {{ pagination.to }} out of {{ pagination.total }} users
                        </p>
                    </div>
                </div>
            </div>
        </div>


<!--_________________________________________________________MODALS-->


    <div id="addUser" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-plus"></i> Add User</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Money</label>
                            <input type="number" class="form-control" id="money">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="viewUser" class="modal fade" role="dialog" v-if="selectedUser">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-user"></i> View User</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#userProfile">User Profile</a></li>
                        <li><a data-toggle="tab" href="#transaction">Transaction</a></li>
                        <li><a data-toggle="tab" href="#earnings">Profile Earnings</a></li>
                        <li><a data-toggle="tab" href="#30day">30 Day Challenge</a></li>
                        <li><a data-toggle="tab" href="#linkouts">Linkout Bonus</a></li>
                        <li><a data-toggle="tab" href="#coregs">Coregs</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- user profile -->
                        <div id="userProfile" class="tab-pane fade in active">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div style="text-align: right">
                                         <button class="btn btn-info" @click="editModal(selectedUser,true)"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit User</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ selectedUser.first_name }} {{ selectedUser.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{ selectedUser.gender }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td> n/a </td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{ selectedUser.city }}</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>{{ selectedUser.state }}</td>
                                </tr>
                                <tr>
                                    <td>Zipcode</td>
                                    <td>{{ selectedUser.zip }}</td>
                                </tr>
                                <tr>
                                    <td>Email Address</td>
                                    <td>{{ selectedUser.email }}</td>
                                </tr>
                                <tr>
                                    <td>User ID</td>
                                    <td>{{ selectedUser.id }}</td>
                                </tr>
                                <tr>
                                    <td>Paypal Email</td>
                                    <td> <span v-if="selectedUser.paypal==1">{{ selectedUser.email }}</span> <span v-else>N/A</span></td>
                                </tr>
                                <tr>
                                    <td>Mail Address</td>
                                    <td>{{ selectedUser.mail_address }}</td>
                                </tr>
                                <tr>
                                    <td>Date Created</td>
                                    <td>{{ selectedUser.created_at }}</td>
                                </tr>
                                <tr>
                                    <td>Source Origin </td>
                                    <td>{{ selectedUser.source_path }}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- transaction -->
                        <div id="transaction" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="panel text-center" style="background: green; padding: 5px;">
                                        <h4 style="color: white;">HIGHPAYING CASH SURVEYS</h4>
                                        <h5 style=" color: white;">{{ selectedUser.money_hpcs+selectedUser.money_hpcs_linkout | currency }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel text-center" style="background: green; padding: 5px;">
                                        <h4 style="color: white;">30 DAY CHALLENGE</h4>
                                        <h5 style="color: white;">{{ selectedUser.money_challenge | currency }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel text-center" style="background: skyblue; padding: 5px;">
                                        <h4 style="color: white;">FROM OUR SPONSORS</h4>
                                        <h5 style="color: white;">{{ selectedUser.money_offers | currency }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel text-center" style="background: skyblue; padding: 5px;">
                                        <h4 style="color: white;">FREEBIES</h4>
                                        <h5 style="color: white;">{{ selectedUser.count_freebies }}</h5>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered">
                                <tbody>
                                    <tr>
                                        <td width="80%">Current Money Earned</td>
                                        <td width="20%" class="text-center">{{ selectedUser.money_hpcs+selectedUser.money_challenge | currency }}</td>
                                    </tr>
                                    <tr>
                                        <td width="80%">Total Money Paid</td>
                                        <td width="20%" class="text-center"><span v-if="selectedUser.payment_status">{{ selectedUser.money_hpcs_paid + selectedUser.money_hpcs_linkout_paid + selectedUser.money_challenge_paid | currency }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Payment Sent Date</td>
                                        <td class="text-center"><span v-if="selectedUser.payment_status">{{ getDate(selectedUser.payment_status[selectedUser.payment_status.length-1].date.date,true) }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Payment Received Date</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Transaction Amount</td>
                                        <td class="text-center"><span v-if="selectedUser.payment_status">{{ selectedUser.payment_status[selectedUser.payment_status.length-1].cash | currency }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <h4>Transaction History <i class="fa fa-history" aria-hidden="true"></i></h4>
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <th width="10%" class="text-center">Paid for</th>
                                            <th width="10%" class="text-center">Method</th>
                                            <th width="25%" class="text-center">Date Sent</th>
                                            <th width="45%">Transaction Note</th>
                                            <th width="10%" class="text-center">Amount</th>
                                        </thead>
                                        <tr v-for="payment in selectedUser.payment_status">
                                            <td class="text-center">{{ payment.for }}</td>
                                            <td class="text-center">{{ payment.method }}</td>
                                            <td class="text-center">{{ getDate(payment.date.date,false) }}</td>
                                            <td>{{ payment.note }}</td>
                                            <td class="text-center">{{ payment.cash | currency }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings -->
                        <div id="earnings" class="tab-pane fade in">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div style="text-align: center">
                                        <h4>Earnings : {{ selectedUser.money_hpcs | currency }}</h4>
                                        <h4 style="color: green">Paid : {{ selectedUser.money_hpcs_paid | currency }}</h4>
                                        <button class="btn btn-info" :disabled="selectedUser.money_hpcs<1" @click="sendPayment('cheque','hpcs',selectedUser.money_hpcs)"> <i class="fa fa-money" aria-hidden="true"></i> Pay via Cheque</button>
                                        <button v-if="selectedUser.paypal" :disabled="selectedUser.money_hpcs<1" class="btn btn-primary" @click="sendPayment('paypal','hpcs',selectedUser.money_hpcs)"> <i class="fa fa-cc-paypal" aria-hidden="true"></i> Pay via Paypal</button>
                                    </div>
                               </div>
                            </div>
                            <div style="height: 350px; overflow-y: auto;">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center">SOURCE</th>
                                        <th class="text-center">AMOUNT</th>
                                        <th class="text-center">STATUS</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center" v-for="hpcs in selectedUser.hpcs_taken">
                                        <tr v-show="hpcs.is_Offer==0">
                                            <td>{{ hpcs.title }}</td>
                                            <td>{{ hpcs.cash | currency }}</td>
                                            <td v-if="hpcs.status>=4">
                                                <i v-if="hpcs.status==4"  class="fa fa-check" aria-hidden="true" style="color: green"></i>
                                                <i v-if="hpcs.status==5" class="fa fa-usd" aria-hidden="true" style="color: #1f858e"></i>
                                            </td>
                                            <td v-else>
                                                <label class="btn btn-xs btn-warning" readonly="readonly">In progress </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 30 day -->
                        <div id="30day" class="tab-pane fade in">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div style="text-align: center">
                                        <h4>Earnings : {{ selectedUser.money_challenge | currency }}</h4>
                                        <h4 style="color: green">Paid : {{ selectedUser.money_challenge_paid | currency }}</h4>
                                        <button class="btn btn-info" :disabled="selectedUser.money_challenge<1 || selectedUser.challenge_payment_active" @click="sendPayment('cheque','challenge',selectedUser.money_challenge)"> <i class="fa fa-money" aria-hidden="true"></i> Pay via Cheque</button>
                                        <button v-if="selectedUser.paypal" :disabled="selectedUser.money_challenge<1 || selectedUser.challenge_payment_active" class="btn btn-primary" @click="sendPayment('paypal','challenge',selectedUser.money_challenge)"> <i class="fa fa-cc-paypal" aria-hidden="true"></i> Pay via Paypal</button>
                                        <p v-if="selectedUser.challenge_payment_active" style="font-size: 9px; color: red;">
                                            Note: Challenge payment will be active after 30 days since the user registration
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 350px; overflow-y: auto;">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center">SOURCE</th>
                                        <th class="text-center">AMOUNT</th>
                                        <th class="text-center">STATUS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-center" v-for="challenge in selectedUser.challenge_taken">
                                        <td>{{ challenge.title }}</td>
                                        <td>{{ challenge.cash | currency }}</td>
                                        <td v-if="challenge.status>=4">
                                            <i v-if="challenge.status==4"  class="fa fa-check" aria-hidden="true" style="color: green"></i>
                                            <i v-if="challenge.status==5" class="fa fa-usd" aria-hidden="true" style="color: #1f858e"></i>
                                        </td>
                                        <td v-else>
                                            <i class="fa fa-circle-o-notch" aria-hidden="true" style="color: orange"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- linkouts -->
                        <div id="linkouts" class="tab-pane fade in">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div style="text-align: center">
                                        <h4>Earnings : {{ selectedUser.money_hpcs_linkout | currency }}</h4>
                                        <h4 style="color: green">Paid : {{ selectedUser.money_hpcs_linkout_paid | currency }}</h4>
                                        <button class="btn btn-info" :disabled="selectedUser.money_hpcs_linkout<1" @click="sendPayment('cheque','linkout',selectedUser.money_hpcs_linkout)"> <i class="fa fa-money" aria-hidden="true"></i> Pay via Cheque</button>
                                        <button v-if="selectedUser.paypal" :disabled="selectedUser.money_hpcs_linkout<1" class="btn btn-primary" @click="sendPayment('paypal','linkout',selectedUser.money_hpcs_linkout)"> <i class="fa fa-cc-paypal" aria-hidden="true"></i> Pay via Paypal</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div style="height: 200px; overflow-y: auto;">
                                <h4>LINKOUTS with bonus</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="text-center">SOURCE</th>
                                        <th class="text-center">APPROVAL</th>
                                        <th class="text-center">STATUS</th>
                                    </tr>
                                    </thead>
                                        <tbody class="text-center" v-for="hpcs in selectedUser.hpcs_taken">
                                            <tr v-show="hpcs.is_Offer==1">
                                                <td>{{ hpcs.title }}</td>
                                                <td>{{ hpcs.cash | currency }}</td>
                                                <td v-if="hpcs.status>=3">
                                                    <i v-if="hpcs.status==4"  class="fa fa-check" aria-hidden="true" style="color: green"></i>
                                                    <i v-if="hpcs.status==5" class="fa fa-usd" aria-hidden="true" style="color: #1f858e"></i>
                                                </td>
                                                <td v-else>
                                                    <i class="fa fa-circle-o-notch" aria-hidden="true" style="color: orange"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>

                            <hr>
                            <div style="height: 200px; overflow-y: auto;">
                                <h4>CAKE Conversion</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="text-center">SOURCE</th>
                                        <th class="text-center">CAKE ID</th>
                                        <th class="text-center">STATUS</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center" v-for="cake in selectedUser.cake">
                                    <tr>
                                        <td>{{ cake.offer_name.name }}</td>
                                        <td>{{ cake.offer_name.id }}</td>
                                        <td> test </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr>
                            <div style="height: 200px; overflow-y: auto;">
                                <h4>LINKOUTS click / entered</h4>
                                <table class="table table-bordered text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="text-center">SOURCE</th>
                                        <th class="text-center">TYPE</th>
                                        <th class="text-center">STATUS</th>
                                    </tr>
                                    </thead>
                                        <tr v-for="offer in selectedUser.offers_taken">
                                            <td>{{ offer.title }}</td>
                                            <td> Offers </td>
                                            <td v-if="offer.status>=3">
                                                <i v-if="offer.status==4"  class="fa fa-check" aria-hidden="true" style="color: green"></i>
                                                <i v-if="offer.status==5" class="fa fa-usd" aria-hidden="true" style="color: #1f858e"></i>
                                            </td>
                                            <td v-else>
                                                <i class="fa fa-circle-o-notch" aria-hidden="true" style="color: orange"></i>
                                            </td>
                                        </tr>
                                        <tr v-for="freebie in selectedUser.freebies_taken">
                                            <td>{{ freebie.title }}</td>
                                            <td> Freebie </td>
                                            <td v-if="freebie.status>=3">
                                                <i v-if="freebie.status==4"  class="fa fa-check" aria-hidden="true" style="color: green"></i>
                                                <i v-if="freebie.status==5" class="fa fa-usd" aria-hidden="true" style="color: #1f858e"></i>
                                            </td>
                                            <td v-else>
                                                <i class="fa fa-circle-o-notch" aria-hidden="true" style="color: orange"></i>
                                            </td>
                                        </tr>
                                </table>
                            </div>


                        </div>

                        <div id="coregs" class="tab-pane fade in">
                            <button class="btn btn-primary"> Download Report in Excel</button>

                            <div style="height: 500px; overflow-y: auto; width: 98%">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="70%">SOURCE</th>
                                        <th width="5%">TYPE</th>
                                        <th class="text-center" width="5%">AMOUNT</th>
                                        <th class="text-center" width="5%">STATUS</th>
                                        <th class="text-center" width="10%">MESSAGE</th>
                                    </tr>
                                    </thead>
                                    <tbody v-for="leads in selectedUser.coregs">
                                        <tr @click="selectedLead=leads.id;" :class="{'leads-hover':leads.id==selectedLead}" style="cursor: pointer">
                                            <td>{{ leads.campaign.name }} </td>
                                            <td class="text-center">
                                                <span v-if="leads.pivot.is_offers==1">Sponsor</span>
                                                <span v-else>Freebie</span>
                                            </td>
                                            <td class="text-center">
                                                <span v-if="leads.pivot.is_offers==1">{{ leads.pivot.cash | currency }}</span>
                                            </td>
                                            <td class="text-center">
                                                <img :src="leads.pivot.status | leadStatus">
                                            </td>
                                            <td class="text-center">
                                                <span v-if="leads.pivot.status==2 || leads.pivot.status==1">
                                                    <span v-if="leads.pivot.status==1" style="color:blue">~</span>
                                                    <span v-if="leads.pivot.status==2" style="color:darkorange">Rejected</span>
                                                </span>
                                                <span v-else>
                                                     <span v-if="leads.pivot.nlr_response | getRealTimeStatus" style="color:green">Success</span>
                                                     <span v-else style="color:red">{{ leads.pivot.nlr_response | getMessage }}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="fade in" v-show="leads.id==selectedLead" style="background-color: whitesmoke">
                                            <td colspan="5">
                                               <span>
                                                   <strong >Submitted Form :</strong>
                                                   <textarea class="form-control" style="resize: vertical" rows="5">{{ leads.pivot.nlr_submitted }}</textarea>
                                               </span>
                                               <span>
                                                   <strong >Response Form :</strong>
                                                   <textarea class="form-control" style="resize: vertical" rows="5">{{ leads.pivot.nlr_response }}</textarea>
                                               </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
    <!-- Edit user -->
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update User Information <i class="fa fa-edit" aria-hidden="true"></i></h4>
                </div>
                <div class="modal-body">
                    <h5>Basic Information</h5>
                    <form id="form-user">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>
                                    <input name="first_name" type="text" class="form-control" :value="selectedUser.first_name">
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>
                                    <input name="last_name" type="text" class="form-control" :value="selectedUser.last_name">
                                </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>
                                    <select name="gender" class="form-control">
                                        <option value="M" :selected="selectedUser.gender=='M'">Male</option>
                                        <option value="F" :selected="selectedUser.gender=='F'">Female</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>
                                    <input name="city" type="text" class="form-control" :value="selectedUser.city">
                                </td>
                            </tr>
                            <tr>
                                <td>State</td>
                                <td><input name="state" type="text" class="form-control" :value="selectedUser.state"></td>
                            </tr>
                            <tr>
                                <td>Zipcode</td>
                                <td>
                                    <input name="zip" type="text" class="form-control" :value="selectedUser.zip">
                                </td>
                            </tr>
                            <tr>
                                <td>Email Address</td>
                                <td>
                                    <input name="email" type="text" class="form-control" :value="selectedUser.email">
                                </td>
                            </tr>
                            <tr>
                                <td>User ID</td>
                                <td>
                                    <input type="text" class="form-control" :value="selectedUser.id" disabled readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>Paypal Email</td>
                                <td>
                                    <input disabled type="text" class="form-control" :value="selectedUser.paypal==1?selectedUser.email:'N/A'">
                                </td>
                            </tr>
                            <tr>
                                <td>Mail Address</td>
                                <td>
                                    <input name="mail_address" type="text" class="form-control" :value="selectedUser.mail_address">
                                </td>
                            </tr>
                            <tr>
                                <td>Date Created</td>
                                <td>
                                    <input type="text" class="form-control" :value="selectedUser.created_at" disabled readonly>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="updateUser(selectedUser)" :disabled="updating"><span v-if="updating"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Updating </span><span v-else>Update changes</span></button>
                </div>
            </div>
        </div>

</div>
</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                pagination : [],
                selectedUser : [],
                searchedUser : null,
                selectedLead : null,
                url : null,
                resultLimit : 20,
                paymentsBy : 'all',
                sortBy : 'created_at',
                orderBy : "DESC",
                registeredBy : 1,
                updating : false,

            }
        },
        ready : function(){
            this.userLists();
            $('.btn-editUser').on('click', function(){
                $('#viewUser').modal('hide');
                $('#editUser').modal('show');
            });
        },

        methods : {
            userLists(url){
                var self = this;

                if(url==undefined || this.searchedUser)
                {
                    url = '/admin/user/lists';
                }

                self.url = url;
                self.pagination = [];

                let data = [];
                data.push({ name : 'searchedUser', value : self.searchedUser });
                data = this.extensions(data);

                $.ajax({
                    url: url,
                    data : data,
                    beforeSend: function(){
                        startLoading();
                    },
                    success: function(response) {
                        self.pagination = response.users;
                        stopLoading();
                    },
                    error: function(){
                        stopLoading();
                    }
                });
            },

            viewModal(user)
            {
                this.selectedUser = user;
                $('#viewUser').modal('show');
            },

            editModal(user,modal)
            {
                this.selectedUser = user;
                if(modal==true)
                {
                    $('#viewUser').modal('hide');
                }
                $('#editUser').modal('show');
            },

            resendLead(id,e)
            {
                var $this = $(e.target);

                $this.find('i').addClass('fa-spin');
                $this.prop('disabled',true);

                var data = { id:id ,_token: $('[name="_token"]').attr('content') };

                $.post('/admin/resend/leads', data , function (response) {
                    $this.addClass('hidden');
                });
            },

            updateUser(selectedUser)
            {
                var self = this;
                var data = $('#form-user').serializeArray();
                self.updating = true;

                data.push({ name: '_token', value: $('[name="_token"]').attr('content') });
                data.push({ name: 'id', value: selectedUser.id });
                data.push({ name: '_method', value: 'PATCH' });

                data = this.extensions(data);

                $.post('/admin/user/update', data , function (response) {
                    if(response.message="success")
                    {
                        notify("Success!", "User has been updated", "success");
                        self.pagination = response.users;
                        self.selectedUser = response.selectedUser;
                        $('#editUser').modal('hide');
                        $('#viewUser').modal('show');
                    }
                    else
                    {
                        notify("Ooops! Something went wrong", "", "error", 'overlay');
                    }

                    self.updating = false;
                });
            },

            extensions(data)
            {
                data.push({ name: 'resultLimit', value: this.resultLimit });
                data.push({ name: 'sortBy', value: this.sortBy });
                data.push({ name: 'orderBy', value: this.orderBy });
                data.push({ name: 'searchedUser', value: this.searchedUser });
                data.push({ name: 'registeredBy', value: this.registeredBy });
                data.push({ name: 'paymentsBy', value: this.paymentsBy });

                return data;
            },

            sendPayment(method,type,value)
            {
                let self = this;
                let data = [];

                swal({
                    title: "Payment Confirmation!",
                    text:
                    '<p><strong>Payment method </strong> via '+ method.toUpperCase() +'</p>' +
                    '<p><strong>Payment value </strong> $'+ value +'.00</p>' +
                    '<p>Write something transaction number or notes:<p>',
                    html: true,
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Notes..",
                    confirmButtonText: "Send Payment",
                    showLoaderOnConfirm: true
                },
                function(inputValue){

                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("Transaction notes are required!");
                        return false
                    }

                    data.push({ name: '_token', value: $('[name="_token"]').attr('content') });
                    data.push({ name: '_method', value: 'PATCH' });
                    data.push({ name: 'id', value: self.selectedUser.id });
                    data.push({ name: 'payment_method', value: method });
                    data.push({ name: 'type', value: type });
                    data.push({ name: 'note', value: inputValue });

                    data = self.extensions(data);

                    $.post('/admin/user/send/payment', data , function (response)
                    {
                        if(response.code==200)
                        {
                            self.selectedUser = response.selected;
                            self.pagination = response.users;
                            swal("Success!", "You have successfully sent the payment!", "success");
                        }
                        else
                        {
                            swal("Oops!", "Strange happen!", "error");
                        }
                    });
                });
            },

            countLinkouts(freebies,sponsors)
            {
                if(freebies==null && sponsors==null)
                {
                    return 0;
                }
                else if(freebies==null)
                {
                    return sponsors.length;
                }
                else if(sponsors==null)
                {
                    return freebies.length;
                }
                else
                {
                    return freebies.length+sponsors.length;
                }
            },

            getDate(date,type)
            {
                if(type)
                {
                    return moment(date).format('MMMM D, YYYY');
                }
                return moment(date).format('MMMM D, YYYY h:mm:ss a');
            },

            filtersChange()
            {
                this.userLists(this.url);
            },

//            report(id)
//            {
//                let data = [];
//                data.push({ name: '_token', value: $('[name="_token"]').attr('content') });
//                data.push({ name: 'id', value: id });
//
//                $.post('/admin/user/download/report',data);
//            },
            sendIdch(user){
                let data = [];

                data.push({ name: '_token', value: $('[name="_token"]').attr('content') });
                data.push({ name: 'email', value: user.email });
                data.push({ name: 'first_name', value: user.first_name });

               $.post('/admin/user/send/idch',data,function (response) {
                   notify("Success!", "User has been mailed", "success");
               });

//                this.$nextTick(function(){
//
//                });
            }
        },

        filters :
        {
            leadStatus(val)
            {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/submitted.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
                if(val == 3) {
                    return '/images/approved.jpg';
                }
                if(val == 4) {
                    return '/images/earned.jpg';
                }

                return 'Unassigned';
            },

            getRealTimeStatus(response)
            {
                if(response==null)
                {
                    return false;
                }

                return JSON.parse(response).realtime_meaning=='Success';
            },

            getMessage(response)
            {
                if(response==null)
                {
                    return '~';
                }

                if(JSON.parse(response).realtime_meaning!=null && JSON.parse(response).realtime_meaning)
                {
                    return JSON.parse(response).realtime_meaning;
                }
                return 'Submitting';
            }
        },

        events : {
            userSearchHpcs : function (search) {
                this.searchedUser = search;

                if(this.searchedUser=="")
                {
                    this.userLists(this.url);
                }
                else
                {
                    this.userLists('/admin/user/lists');
                }
            }
        }
    }
</script>